main {
    margin-top: 80px;
    @include media-sm {
        overflow: hidden
    }
    @include media-xs {
        overflow: hidden
    }
}
h1 {
    padding: 0;
    margin: 0;
}
h2 {
    color: $darkGray;
    font-family: $camptonSemiBold;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 20px;
    @include media-xs-portrait {
        font-size: 36px;
        line-height: 44px;
    }
    @include media-xs {
        margin-bottom: 10px;
    }
}
h3 {
    font-family: $camptonSemiBold;
    font-size: 28px;
    line-height: 34px;
    color: $darkGray;
}
h4 {
    font-family: $camptonSemiBold;
    font-size: 24px;
    line-height: 29px;
    color: $darkGray;
}
h5 {
    font-family: $camptonSemiBold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    color: #109C55;    
}
p {
    font-family: $camptonBook;
    color: #585858;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
}
.subtitle {
    font-family: $camptonSemiBold;
    font-size: 18px;
    line-height: 22px;
    display: block;
    margin: 30px 0 10px 0;
}
a {
    position: relative;
    &:focus {
        outline: none;
        text-decoration: none;
    }
    &:hover {
        text-decoration: none;
        color: inherit;
    }
    &:active {
        outline: none;
        text-decoration: none;
    }
    &:visited {
        outline: none;
        text-decoration: none;
    }
}
.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    @include media-xs {
        display: initial;
        display: initial;
        display: block;
        -ms-flex-wrap: initial;
            flex-wrap: initial;
    }
    &:before,
    &:after {
        display: none;
        display: none;
    }
    > [class*='col-'] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        @include media-xs {
            display: initial;
            display: initial;
            display: block;
            -webkit-box-orient: initial;
            -webkit-box-direction: initial;
            -ms-flex-direction: initial;
            flex-direction: initial;
        }
    }
}
// Buttons
.primary-btn {
    background-color: #12AA5D;
    border: 2px solid #12AA5D;
    color: $white;
    font-size: 14px;
    line-height: 14px;
    padding: 8px 19px 7px 17px;
    text-align: center;
    border-radius: 16px;
    letter-spacing: 0.02em;    
    position: relative;
    z-index: 1;
    display: inline-block;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-family: $camptonBook;
    text-transform: initial;
    margin-top: 5px;
    &:hover {
        text-decoration: none;
        outline: 0;     
        color: #12AA5D;
        background: $white;
    }
    &:focus {
        text-decoration: none;
        outline: 0;
        color: #12AA5D;
    }
    &:active {
        outline: 0;
    }
    &:after {
        content: "";
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("/assets/images/icons/light-green-right-icon.svg");
        width: 8px;
        height: 12px;
        position: relative;
        top: 1px;
        margin-left: 18px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    &.orange-btn {
        background-color: $mainOrange;
        border-color: $mainOrange;
        &:hover {  
            background: $white;
            color: $mainOrange;
            &:after {
                background-image: url("/assets/images/icons/hover-light-orange-right-icon.svg");
            }
        }
        &:focus {
            background: $white;
            color: $mainOrange;
            &:after {
                background-image: url("/assets/images/icons/hover-light-orange-right-icon.svg");
            }
        }
        &:after {
            background-image: url("/assets/images/icons/light-orange-right-icon.svg");
        }
    }

    &.no-icon {
        &:after {
            display: none;
        }
    }
}
.container { 
    @media (max-width: 768px) {
        max-width: 100%;
    }
}
.grayBackground {
    background-color: $mainGray;
}
.greenBackground {
    background-color: $mainGreen;
}
.top-spacing {
    padding-top: 80px;
}
.medium-top-spacing {
    padding-top: 70px;
    @include media-xs {
        padding-top: 50px;
    }
}
.add-spacing {
    padding-top: 80px;
    padding-bottom: 100px;
}
.small-spacing {
    padding-top: 50px;
    padding-bottom: 100px;
    @include media-xs {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.half-width {
    width: 50%;
    @include media-xs {
        width: 100%;
    }
}