// Campton Book Italic
@font-face {
    font-family: 'Campton Book Italic';
    src: url('../fonts/campton-book-italic/Campton-BookItalic.eot');
    src: url('../fonts/campton-book-italic/Campton-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/campton-book-italic/Campton-BookItalic.woff2') format('woff2'),
        url('../fonts/campton-book-italic/Campton-BookItalic.woff') format('woff'),
        url('../fonts/campton-book-italic/Campton-BookItalic.ttf') format('truetype'),
        url('../fonts/campton-book-italic/Campton-BookItalic.svg#Campton-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

// Campton Bold
@font-face {
    font-family: 'Campton Bold';
    src: url('../fonts/campton-bold/Campton-Bold.eot');
    src: url('../fonts/campton-bold/Campton-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/campton-bold/Campton-Bold.woff2') format('woff2'),
        url('../fonts/campton-bold/Campton-Bold.woff') format('woff'),
        url('../fonts/campton-bold/Campton-Bold.ttf') format('truetype'),
        url('../fonts/campton-bold/Campton-Bold.svg#Campton-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

// Campton Extra Book
@font-face {
    font-family: 'Campton Book';
    src: url('../fonts/campton-book/Campton-Book.eot');
    src: url('../fonts/campton-book/Campton-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/campton-book/Campton-Book.woff2') format('woff2'),
        url('../fonts/campton-book/Campton-Book.woff') format('woff'),
        url('../fonts/campton-book/Campton-Book.ttf') format('truetype'),
        url('../fonts/campton-book/Campton-Book.svg#Campton-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Campton Extra Light
@font-face {
    font-family: 'Campton Extra Light';
    src: url('../fonts/campton-/Campton-ExtraLight.eot');
    src: url('../fonts/campton-extra-light/Campton-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/campton-extra-light/Campton-ExtraLight.woff2') format('woff2'),
        url('../fonts/campton-extra-light/Campton-ExtraLight.woff') format('woff'),
        url('../fonts/campton-extra-light/Campton-ExtraLight.ttf') format('truetype'),
        url('../fonts/campton-extra-light/Campton-ExtraLight.svg#Campton-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

// Campton Light
@font-face {
    font-family: 'Campton Light';
    src: url('../fonts/campton-light/Campton-Light.eot');
    src: url('../fonts/campton-light/Campton-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/campton-light/Campton-Light.woff2') format('woff2'),
        url('../fonts/campton-light/Campton-Light.woff') format('woff'),
        url('../fonts/campton-light/Campton-Light.ttf') format('truetype'),
        url('../fonts/campton-light/Campton-Light.svg#Campton-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

// Campton Medium
@font-face {
    font-family: 'Campton Medium';
    src: url('../fonts/campton-medium/Campton-Medium.eot');
    src: url('../fonts/campton-medium/Campton-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/campton-medium/Campton-Medium.woff2') format('woff2'),
        url('../fonts/campton-medium/Campton-Medium.woff') format('woff'),
        url('../fonts/campton-medium/Campton-Medium.ttf') format('truetype'),
        url('../fonts/campton-medium/Campton-Medium.svg#Campton-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

// Campton Semi Bold
@font-face {
    font-family: 'Campton Semi Bold';
    src: url('../fonts/campton-semi-bold/Campton-SemiBold.eot');
    src: url('../fonts/campton-semi-bold/Campton-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/campton-semi-bold/Campton-SemiBold.woff2') format('woff2'),
        url('../fonts/campton-semi-bold/Campton-SemiBold.woff') format('woff'),
        url('../fonts/campton-semi-bold/Campton-SemiBold.ttf') format('truetype'),
        url('../fonts/campton-semi-bold/Campton-SemiBold.svg#Campton-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

// Campton Semi Bold Italic
@font-face {
    font-family: 'Campton Semi Bold Italic';
    src: url('../fonts/campton-semi-bold-italic/Campton-SemiBoldItalic.eot');
    src: url('../fonts/campton-semi-bold-italic/Campton-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/campton-semi-bold-italic/Campton-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/campton-semi-bold-italic/Campton-SemiBoldItalic.woff') format('woff'),
        url('../fonts/campton-semi-bold-italic/Campton-SemiBoldItalic.ttf') format('truetype'),
        url('../fonts/campton-semi-bold-italic/Campton-SemiBoldItalic.svg#Campton-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}