.jarallax-container {
    position: relative;
    margin: 0;
    padding: 80px 0 120px 0;
    @include media-sm {
        padding: 50px 0 100px 0;        
    }
    @include media-xs {
        padding: 50px 0 100px 0;        
    }
    @include media-xs-landscape {
        padding: 50px 0 160px 0;        
    }
    @media all and (-ms-high-contrast:none) {
        overflow: hidden;
    }
    .jarallax {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        @include media-xs {
            overflow: hidden;
        }
        @include media-sm {
            overflow: hidden;
        }
        .jarallax-img {
            object-position: right !important;
            @media all and (-ms-high-contrast:none) {
                object-position: 50% 50% !important;
                background-position-x: right !important;
                right: 0;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 100% 50%;
                width: 100% !important;
            }
            @include media-xs {
                display: none;
            }
            @include media-sm {
                display: none;
            }
            @include media-md {
                object-position: 50% 50% !important;
            }
        }
        .mobile-jarallax-img {
            display: none;
            position: absolute;
            bottom: 0;
            right: 0;
            max-width: 100%;
            max-height: 100%;
            @include media-xs {
                display: block;
            }
            @include media-sm {
                display: block;
            }
        }
    }
    &.remove-img {
        @include media-xs {
            padding: 50px 0;
        }
       .jarallax {
            @include media-xs {
            display: none;
            }
       } 
    }
    &.green-container { 
        padding: 80px 0 80px 0; 
        @include media-xs {
            padding: 50px 0 50px 0;        
        }   
        @include media-sm {
            padding: 70px 0 70px 0;        
        }     
    }
}
.download-container {
    margin-top: 50px;
    a {
        display: inline-block;
        margin-right: 5.5px;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            &:before {
                opacity: 0.8;
            }
        }
        &:before {
            content: "";
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            height: 48px;
        }
        &.ios-icon {
            &:before {
                width: 148px;
                background: url("/assets/images/icons/content-ios.svg");
                @include media-xs-portrait {
                    background: url("/assets/images/icons/footer-ios.svg");
                    width: 123px;
                    height: 40px;
                }
            }
        }
        &.android-icon {
            &:before {
                width: 163px;
                background: url("/assets/images/icons/content-android.svg");
                @include media-xs-portrait {
                    background: url("/assets/images/icons/footer-android.svg");
                    width: 135px;
                    height: 40px;
                }
            }
        }
    }
}
.img-container {
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain
    }
}
.content-img-container {
    margin-top: 38px;
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain
    }
}
.blog-social {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            margin-right: 25px;
            &:last-child {
                margin-right: 0;
            }
            a {
                img {
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }
                &.fcb-icon {
                    img {
                        width: 38.66px;
                        height: 38.4px;
                    }
                }
                &.insta-icon {
                    img {
                        width: 38.4px;
                        height: 38.4px;
                    }
                }
                &.twitter-icon {
                    img {
                        width: 38.89px;
                        height: 31.73px;
                    }
                }
                &:hover {
                    img {
                        opacity: 0.8;                        
                    }
                }
            }
        }
    }
}
.small-intro-container {
    padding: 22px 0 25px 0;
    position: relative;
    .small-intro {
        img {
            width: 60px;
            height: 60px;
            margin-right: 15px;
            vertical-align: middle;
            @include media-xs {
                margin-right: 10px;
            }
        }
        span {
            font-family: $camptonSemiBoldItalic;
            font-size: 14px;
            line-height: 16px;
            display: inline-block;
            width: 41%;
            color: #979797;
            vertical-align: middle;
            position: relative;
            top: 1px;
            @include media-xs {
                width: 41%;
            }
        }
    }
    .blog-social {
        position: absolute;
        right: 0;
        top: 37px;
        @include media-xs {
            top: 50%;
            transform: translateY(-50%);
        }
        ul {
            li {
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    &.fcb-icon {
                        img {
                            width: 30.2px;
                            height: 30px;
                        }
                    }
                    &.insta-icon {
                        img {
                            width: 32px;
                            height: 32px;
                        }
                    }
                    &.twitter-icon {
                        img {
                            width: 25.23px;
                            height: 20.59px;
                        }
                    }
                }
            }
        }
    }
    .small-intro-img-container {
        display: inline-block;
        width: calc(100% - 237px);
        vertical-align: middle;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 3;
            -webkit-flex: 3;
            -moz-box-flex: 3;
            -moz-flex: 3;
            -ms-flex: 3;
            flex: 3;
            -webkit-box-pack: space-aroudn;
            -ms-flex-pack: space-aroudn;
            -webkit-justify-content: space-aroudn;
            -moz-justify-content: space-aroudn;
            justify-content: space-aroudn;
            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            width: 100%;
            text-align: center;
            list-style: none;
            @include media-lmd {
                width: auto;
            }
            li {
                min-width: 33.333%;
                margin-bottom: 10px;
                -webkit-box-flex: 1;
                -webkit-flex-grow: 1;
                -moz-flex-grow: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                @include media-lmd {
                    min-width: auto;
                    margin-bottom: 0;
                }
                @include media-xs {
                    min-width: 50%;
                }
                img {
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                    @include media-md {
                        max-width: 90%;
                    }
                }
            }
        }
    }
    &.small-intro-images {
        padding: 18.2px 0 17.5px 0;
        .small-intro {
            display: inline-block;
            span {
                top: 3px;
                width: 150px;
            }
            img {
                margin-right: 18px;
            }
        }
    }
}