.jarallax-container {
    position: relative;
    margin: 0;
    padding: 80px 0 120px 0;
    @media all and (-ms-high-contrast:none) {
        overflow: hidden;
    }
    .jarallax {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        @include media-xs {
            position: relative;
            height: auto;
        }
        .jarallax-img {
            object-position: right !important;
            @media all and (-ms-high-contrast:none) {
                object-position: 50% 50% !important;
                background-position-x: right !important;
                right: 0;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 100% 50%;
                width: 100% !important;
            }
        }
    }
    &.green-container { 
        padding: 80px 0 80px 0;        
    }
}
.download-container {
    margin-top: 50px;
    a {
        display: inline-block;
        margin-right: 5.5px;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            &:before {
                opacity: 0.8;
            }
        }
        &:before {
            content: "";
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            height: 48px;
        }
        &.ios-icon {
            &:before {
                width: 148px;
                background: url("/assets/images/icons/content-ios.svg");
            }
        }
        &.android-icon {
            &:before {
                width: 163px;
                background: url("/assets/images/icons/content-android.svg");
            }
        }
    }
}
.img-container {
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain
    }
}
.content-img-container {
    margin-top: 38px;
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain
    }
}
.blog-social {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            margin-right: 25px;
            &:last-child {
                margin-right: 0;
            }
            a {
                img {
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    opacity: 0.6;
                }
                &.fcb-icon {
                    img {
                        width: 38.66px;
                        height: 38.4px;
                    }
                }
                &.insta-icon {
                    img {
                        width: 38.4px;
                        height: 38.4px;
                    }
                }
                &.twitter-icon {
                    img {
                        width: 38.89px;
                        height: 31.73px;
                    }
                }
                &:hover {
                    img {
                        opacity: 1;
                    }
                }
            }
        }
    }
}