footer {
    padding: 32px 0 0 0;
    background: linear-gradient(#0b9b52 0%, #12aa5d 100%);
    .download-container {
        margin-top: 0;
        a {
            margin-right: 3.5px;
            &:before {
                height: 40px;
            }
            &.ios-icon {
                &:before {
                    width: 123px;
                    background: url("/assets/images/icons/footer-ios.svg");
                }
            }
            &.android-icon {
                &:before {
                    width: 135px;
                    background: url("/assets/images/icons/footer-android.svg");
                }
            }
        }
    }
    .footer-info-container {
        background-color: #07944D;
        text-align: center;
        padding: 25px 0 50px 0;
        margin-top: 101px;
        @include media-sm {
            margin-top: 82px;
        }
        @include media-xs {
            margin-top: 82px;
        }
        p {
            color: #C2E8D5;
            font-family: $camptonLight;
            font-size: 14px;
            line-height: 28px;
            margin-bottom: 0;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                position: relative;
                color: #C2E8D5;
                font-family: $camptonLight;
                font-size: 14px;
                line-height: 28px;
                display: inline-block;
                margin-right: 20px;
                &:after {
                    content: "|";
                    color: #C2E8D5;
                    font-size: 14px;
                    line-height: 14px;
                    position: absolute;
                    top: 6px;
                    right: -14px;
                }
                &:last-child {
                    margin-right: 0;
                    &:after {
                        display: none;
                    }
                }
                a {
                    color: #C2E8D5;
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        bottom: 0;
                        left: 0;
                        visibility: hidden;
                        -webkit-transform: scaleX(0);
                        -moz-transform: scaleX(0);
                        -ms-transform: scaleX(0);
                        -o-transform: scaleX(0);
                        transform: scaleX(0);
                        -webkit-transition: all 0.3s ease-in-out 0s;
                        -moz-transition: all 0.3s ease-in-out 0s;
                        -ms-transition: all 0.3s ease-in-out 0s;
                        -o-transition: all 0.3s ease-in-out 0s;
                        transition: all 0.3s ease-in-out 0s;
                        background: #C2E8D5;
                    }
                    &:hover {
                        color: #C2E8D5;
                        &:after {
                            visibility: visible;
                            -webkit-transform: scaleX(1);
                            -moz-transform: scaleX(1);
                            -ms-transform: scaleX(1);
                            -o-transform: scaleX(1);
                            transform: scaleX(1);
                        }
                    }
                    &:focus {
                        color: #C2E8D5;
                    }
                }
            }
        }
        img {
            width: 23.89px;
            height: 31.83px;
            margin-bottom: 10px;
        }
    }
    .footer-content {
        width: 70%;
        margin-top: -55px;
        @include media-xs {
            width: 100%;
            text-align: center;
        }
        @include media-sm {
            width: 100%;
        }
        h4 {
            color: $white;
            vertical-align: bottom;
            display: inline-block;
            width: calc(100% - 142px);
            margin: 0;
            @include media-xs {
                display: block;
                width: 100%;
            }
        }
        .footer-content-intro {
            margin-bottom: 20px;
            img {
                width: 112px;
                height: 112px;
                margin-right: 24px;
                vertical-align: bottom;
                display: inline-block;
                @include media-xs {
                    display: block;
                    margin: 0 auto 20px auto;
                }
            }
        }
        p {
            color: #C2E8D5;
            font-size: 14px;
            line-height: 17px;
            width: 82%;
            @include media-xs {
                width: 100%;
            }
        }
    }
    .footer-links {
        margin-top: 36px;
        @include media-xs {
            text-align: center;
        }
        span {
            color: $white;
            font-family: $camptonSemiBold;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 7px;
            display: block; 
            @include media-xs {
                font-size: 20px; 
                line-height: 24px;
            }
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                position: relative;
                &:last-child {
                    margin-right: 0;
                    &:after {
                        display: none;
                    }
                }
                a {
                    color: #C2E8D5;
                    position: relative;
                    font-family: $camptonLight;
                    font-size: 14px;
                    line-height: 24px;
                    @include media-xs {
                        font-size: 18px; 
                        line-height: 24px;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        bottom: 0;
                        left: 0;
                        visibility: hidden;
                        -webkit-transform: scaleX(0);
                        -moz-transform: scaleX(0);
                        -ms-transform: scaleX(0);
                        -o-transform: scaleX(0);
                        transform: scaleX(0);
                        -webkit-transition: all 0.3s ease-in-out 0s;
                        -moz-transition: all 0.3s ease-in-out 0s;
                        -ms-transition: all 0.3s ease-in-out 0s;
                        -o-transition: all 0.3s ease-in-out 0s;
                        transition: all 0.3s ease-in-out 0s;
                        background: #C2E8D5;
                    }
                    &:hover {
                        color: #C2E8D5;
                        &:after {
                            visibility: visible;
                            -webkit-transform: scaleX(1);
                            -moz-transform: scaleX(1);
                            -ms-transform: scaleX(1);
                            -o-transform: scaleX(1);
                            transform: scaleX(1);
                        }
                    }
                    &:focus {
                        color: #C2E8D5;
                    }
                }
            }
        }
        .footer-social-links {
            margin-top: 25px;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    position: relative;
                    color: #C2E8D5;
                    display: inline-block;
                    margin-right: 19px;
                    img {
                        height: 24px;
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                        opacity: 0.8;
                    }
                    &:last-child {
                        margin-right: 0;
                        &:after {
                            display: none;
                        }
                    }
                    a {
                        position: relative;
                        &:after {
                            display: none;
                        }
                        &:hover {
                            color: #C2E8D5;
                            img {
                                opacity: 1;
                            }
                        }
                        &:focus {
                            color: #C2E8D5;
                        }
                    }
                }
            }
        }
    }
}