body {
    main {
        @include media-sm {
            margin-top: 70px;
        }
        @include media-xs {
            margin-top: 70px;
        }
    }
    overflow-x: hidden;
    &:before {
        content: "";
        margin-right: -100%;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9;
        opacity: 0;
        transition: margin-right 1s ease;
        -webkit-transition: margin-right 1s ease; 
    }
    &.menu-open {   
        overflow-y: hidden;    
        header {
            .nav-icon {
                background: transparent;
                transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                &:before {
                    opacity: 1;
                    bottom: 0;
                    transform: rotate(-45deg);
                    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                }
                &:after {
                    opacity: 1;
                    top: 0;
                    transform: rotate(45deg);
                    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
                }
            }
            @include media-sm {
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100vh;
                    background-color: rgba(255, 255, 255, 0.98);                    
                    width: 5px
                }
                &:after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100vh;
                    background-color: rgba(255, 255, 255, 0.98);
                    width: 5px
                }
            }
            nav {
                ul {
                    li {
                        a {
                            @include media-xs {
                                margin-right: 0;
                            }
                            @include media-sm {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
        nav {
            margin-right: 0%;
            @include media-sm {
                width: 100%;
            }
        }
        footer {
            margin-right: 100%;
            @include media-xs {
                float: left;
                overflow: hidden;
                height: 0;
            }
            @include media-sm {
                float: left;
                overflow: hidden;
                height: 0;
            }
        }
        &:before {
            opacity: 1;
            width: 100%;
            margin-right: 0%;
        }
    }
}
header {
    background-color: #12aa5d;
    z-index: 99;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.13);
        position: absolute;
        top: 0;
        left: 0;
    }
    @include media-xs {
        height: 70px;
    }
    @include media-sm {
        height: 70px;
    }
    .nav-icon-container {
        position: absolute;
        top: 23px;
        right: 16px;
        width: 24px;
        height: 24px;
    }
    .nav-icon {
        width: 24px;
        height: 2.5px;
        position: absolute;
        top: -4px;
        right: 0px;
        transform: translateY(16px);
        -webkit-transform: translateY(16px);
        -moz-transform: translateY(16px);
        -ms-transform: translateY(16px);
        -o-transform: translateY(16px);
        background: $white;
        transition: all 0ms 300ms;
        &:before {
            width: 24px;
            height: 2.5px;
            content: "";
            position: absolute;
            left: 0;
            bottom: 9px;
            background: $white;
            transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        &:after {
            width: 24px;
            height: 2.5px;
            content: "";
            position: absolute;
            left: 0;
            top: 9px;
            background: $white;
            transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }        
    }
    .logo-container {
        float: left;
        text-align: left;
        width: 83px;
        height: 39px;
        position: absolute;
        top: 23.5px;
        left: 15px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
        @include media-xs {
            top: 16px;
        }
        a {
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
            position: relative;
            &:hover {
                img {
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
        }
        .logo {
            height: auto;
            visibility: visible;
            opacity: 1;
            display: block;
        }
        img {
            width: 83px;
            height: 39px;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
            position: relative;
        }
    }
    nav {
        text-align: right;
        position: relative;
        margin: 0;
        background: none;
        display: inline-block;
        float: right;
        transition: margin-right 1s ease;
        -webkit-transition: margin-right 1s ease; 
        @include media-xs {
            margin-right: -100%;
            width: 100%;
            position: absolute;
            top: 70px;
            right: 0;
            height: auto;
            min-height: 325px;
            overflow-y: auto;
            background-color: #12aa5d;
        }
        @include media-xs-landscape {
            padding-bottom: 320px;
        }
        @include media-sm {
            margin-right: -100%;
            width: 0;
            position: absolute;
            top: 70px;
            right: 0;
            height: auto;
            min-height: 325px;
            overflow-y: auto;
            background-color: #12aa5d;
        }
        ul {
            padding: 0;
            text-align: right;
            list-style: none;
            width: auto;
            display: block;
            margin-bottom: 0;
            @include media-xs {
                margin-left: 0;
                margin-top: 20px;
            }
            @include media-sm {
                margin-left: 0;
                margin-top: 20px;
            }
            li {
                list-style: none;
                display: inline-block;
                margin-bottom: 0;
                background: none;
                cursor: pointer;
                padding: 0 42px 0 0;
                position: relative;
                @include media-xs {
                    width: 100%;
                    text-align: center;
                    padding: 0;
                    margin-bottom: 15px;
                    min-height: 46px;
                }
                @include media-xs-landscape {
                    margin-bottom: 10px;
                }
                @include media-md {
                    padding-right: 20px;
                }
                @include media-sm {
                    width: 100%;
                    text-align: center;
                    padding: 0;
                    margin-bottom: 15px;
                }
                &:last-child {
                    padding-right: 0;
                }
                &.active {
                    a {
                        color: $white;
                        &:before {
                            visibility: visible;
                            -webkit-transform: scaleX(1);
                            -moz-transform: scaleX(1);
                            -ms-transform: scaleX(1);
                            -o-transform: scaleX(1);
                            transform: scaleX(1);
                        }
                    }
                }
                a {
                    position: relative;
                    padding: 0;
                    font-size: 16px;
                    line-height: 16px;
                    color: #C2E8D5;
                    font-family: $camptonSemiBold;
                    letter-spacing: 0.02em;
                    padding: 33px 0 31px 0;
                    display: block;
                    @include media-xs {
                        font-size: 19px;
                        letter-spacing: 0;
                        line-height: 26px;
                        display: inline-block;
                        padding: 10px 0;
                        transition: margin-right 1s ease;
                        -webkit-transition: margin-right 1s ease; 
                        margin-right: -100%;
                        right: 0;
                    }
                    @include media-xs-landscape {
                        padding: 5px 0;
                    }
                    @include media-sm {
                        font-size: 19px;
                        letter-spacing: 0;
                        line-height: 26px;
                        display: inline-block;
                        transition: margin-right 1s ease;
                        -webkit-transition: margin-right 1s ease; 
                        margin-right: -100%;
                        right: 0;
                    }
                    &:hover {
                        color: $white;
                        &:before {
                            visibility: visible;
                            -webkit-transform: scaleX(1);
                            -moz-transform: scaleX(1);
                            -ms-transform: scaleX(1);
                            -o-transform: scaleX(1);
                            transform: scaleX(1);
                        }
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        visibility: hidden;
                        -webkit-transform: scaleX(0);
                        -moz-transform: scaleX(0);
                        -ms-transform: scaleX(0);
                        -o-transform: scaleX(0);
                        transform: scaleX(0);
                        -webkit-transition: all 0.3s ease-in-out 0s;
                        -moz-transition: all 0.3s ease-in-out 0s;
                        -ms-transition: all 0.3s ease-in-out 0s;
                        -o-transition: all 0.3s ease-in-out 0s;
                        transition: all 0.3s ease-in-out 0s;
                        background: #ffffff;
                    }
                    &:focus {
                        text-decoration: none;
                        outline: none;
                        &:before {
                            visibility: visible;
                            -webkit-transform: scaleX(1);
                            -moz-transform: scaleX(1);
                            -ms-transform: scaleX(1);
                            -o-transform: scaleX(1);
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    }
}