.home-notifications-container {
    background: linear-gradient(#0b9b52 0%, #12aa5d 100%);    
    padding: 80px 0 88px 0;
    hr {
        border-color: rgba(255, 255, 255, 0.3);
        margin: 13px 0 60px 0;
    }
    p {
        color: #C2E8D5;
        margin-bottom: 25px;
    }
    h2 {
        color: $white
    }
    h5 {
        color: $mainOrange;
    }
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}
.notification-item {
    h3 {
        color: $white;
    }
    h5 {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 3px;
    }
    .img-container {
        display: inline-block;
        width: 96px;
        vertical-align: top;
        margin-right: 20px;
    }
    .notification-item-intro-content {
        display: inline-block;
        width: calc(100% - 123px);
        vertical-align: top;
    }
    .notification-item-intro {
        margin-bottom: 30px;
    }
}
.msg-animation-container {
    .msg-animation {
        position: absolute;
        &.msg-one {
            top: 6px;
            right: 55px;
        }
        &.msg-two {
            top: 101px;
            left: 0;
        }
        &.msg-three {
            bottom: 146px;
            right: 30px;
        }
        &.msg-four {
            bottom: 49px;
            left: 40px;
        }
    }
}
.msg-animation-container {
    .medium-animate {
        -webkit-animation-duration: initial;
        animation-duration: initial;
        -webkit-animation-fill-mode: none;
        animation-fill-mode: none;
    }
    &.start-animation {
        .medium-animate {
            -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
    }
}