.home-notifications-container {
    background: linear-gradient(#0b9b52 0%, #12aa5d 100%);    
    padding: 80px 0 88px 0;
    @include media-sm {
        padding: 60px 0 68px 0;
    }
    @include media-xs {
        padding: 50px 0;
    }
    hr {
        border-color: rgba(255, 255, 255, 0.3);
        margin: 50px 0 60px 0;
    }
    p {
        color: #C2E8D5;
        margin-bottom: 25px;
    }
    h2 {
        color: $white
    }
    h5 {
        color: $mainOrange;
    }
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
    .container {
        .row {
            @include media-xs {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            }
            [class*="col-"] {
                &:nth-child(1) {
                    @include media-xs {   
                         order: 2;
                    }
                }
                &:nth-child(2) {
                    @include media-xs {   
                        order: 1;
                   }
                }
                &:nth-child(3) {
                    @include media-xs {   
                        order: 3;
                   }
                }
                &:nth-child(4) {
                    @include media-xs {   
                        order: 4;
                    }
                }
                &:nth-child(5) {
                    @include media-xs {   
                        order: 5;
                    }
                }
                
            }
        }
    }
    [class*="col-"] {
        &:last-child {
            .notification-item {
                @include media-xs {
                    margin-top: 50px;
                }
            }
        }
    }
}
.notification-item {
    h3 {
        color: $white;
        @include media-xs-portrait {
            font-size: 26px;
            line-height: 32px;
        }
    }
    h5 {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 3px;
    }
    .img-container {
        display: inline-block;
        width: 96px;
        vertical-align: top;
        margin-right: 20px;
        @include media-sm {
            width: 80px;
            margin-right: 15px;
        }
        @include media-xs {
            width: 80px;
            margin-right: 10px;
        }
    }
    .notification-item-intro-content {
        display: inline-block;
        width: calc(100% - 123px);
        vertical-align: top;
        @include media-sm {
            width: calc(100% - 100px);
        }
        @include media-xs {
            width: calc(100% - 95px);
        }
    }
    .notification-item-intro {
        margin-bottom: 30px;
        @include media-sm {
            margin-bottom: 15px;
        }
        @include media-xs {
            margin-bottom: 10px;
        }
    }
}
.msg-animation-container {
    @include media-xs {
        position: relative;
        height: 460px;
        max-width: 345px;
        margin: 0 auto;
    }
    .msg-animation {
        position: absolute;
        &.msg-one {
            top: 0;
            right: 55px;
        }
        &.msg-two {
            top: 100px;
            left: 0;
            z-index: 9;
            @include media-xs {
                bottom: 90px;
            }
        }
        &.msg-three {
            bottom: 90px;
            right: 30px;
            @include media-sm {
                bottom: 130px;
            }
            @include media-xs {
                bottom: 135px;
            }
        }
        &.msg-four {
            bottom: -2px;
            left: 40px;
            @include media-sm {
                bottom: 30px;
            }
            @include media-xs {
                bottom: 50px;
            }
        }
        img {
            max-width: 97%;
            max-height: 97%;
        }
    }
}