.feature-item-container {
    padding-bottom: 155px;
    margin-top: 55px;
    hr {
        margin: 35px 0 44px 0;
        border-color: #E4EBE6;
    }
    .feature-item {
        display: inline-block;
        width: calc(100% / 3 - 10px);
        margin-right: 10px;
        &:nth-child(4n + 3) {
            margin-right: 0;
        }
        @include media-xs {
            width: 100%;
        }
        @include media-xs-landscape {
            width: calc(100% / 2 - 10px);
        }
        .img-container {
            width: 60px;
            margin-right: 15px;
            display: inline-block;
            vertical-align: top;
        }
        .feature-item-content {
            display: inline-block;
            vertical-align: top;
            width: calc(100% - 82px);
            .subtitle {
                margin: -4px 0 8px 0;
            }
            p {
                font-size: 14px;
                line-height: 20px;
                margin: 0;
            }
        }
    }
}
.testimonial-container {
    text-align: center;
    padding: 70px 0 80px 0;
    p {
        font-family: $camptonLight;
        font-size: 40px;
        line-height: 48px;
        color: $darkGray;
        margin-bottom: 10px;
    }
    .star-container {
        width: 313px;
        height: 36px;
        position: relative;
        margin: 0 auto;
        &:after {
            content: "";
            width: 313px;
            height: 36px;
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            background-image: url("/assets/images/icons/five-star.svg");
        }
        &.four-star {
            &:after {
                background-image: url("/assets/images/icons/four-star.svg");
            }
        }
        &.three-star {
            &:after {
                background-image: url("/assets/images/icons/three-star.svg");
            }
        }
        &.two-star {
            &:after {
                background-image: url("/assets/images/icons/two-star.svg");
            }
        }
        &.one-star {
            &:after {
                background-image: url("/assets/images/icons/one-star.svg");
            }
        }
    }
    img {
        margin-bottom: 6px;
        max-width: 100%;
        max-height: 100%;
    }
}
.accordion-container {
    background: #fff;
    border: 1px solid #e4ebe6;
    border-radius: 8px;
    .card {
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #E4EBE6;
        background: transparent;
        &:last-child {
            border-bottom: none;
        }
        .card-header {
            background: transparent;
            border-radius: 0;
            border: none;
            padding: 15px 15px 15px 82px;
            button {
                border: none;
                background: transparent;
                box-shadow: none;
                padding: 0;
                font-family: $camptonSemiBold;
                font-size: 18px;
                line-height: 18px;
                color: $darkGray;
                position: relative;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
                &:hover {
                    &:after {
                        visibility: visible;
                        -webkit-transform: scaleX(1);
                        -moz-transform: scaleX(1);
                        -ms-transform: scaleX(1);
                        -o-transform: scaleX(1);
                        transform: scaleX(1);
                    }
                }
                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: -5px;
                    left: 0;
                    visibility: hidden;
                    -webkit-transform: scaleX(0);
                    -moz-transform: scaleX(0);
                    -ms-transform: scaleX(0);
                    -o-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transition: all 0.3s ease-in-out 0s;
                    -moz-transition: all 0.3s ease-in-out 0s;
                    -ms-transition: all 0.3s ease-in-out 0s;
                    -o-transition: all 0.3s ease-in-out 0s;
                    transition: all 0.3s ease-in-out 0s;
                    background: $darkGray;
                }
            }
            [data-toggle="collapse"].accordion-icon:before {
                content: "";
                position: absolute;
                top: 5px;
                left: -59px;
                width: 15px;
                height: 10px;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url("/assets/images/icons/green-up.svg");
            }
            [data-toggle="collapse"].collapsed.accordion-icon:before {
                content: "";
                background-image: url("/assets/images/icons/green-down.svg");
            }
        }
        .card-body {
            padding: 0 30px 25px 82px;
            p {
                margin-bottom: 25px;
            }
        }
    }
}
.green-container {
    h5 {
        color: $mainOrange;
    }
    h2 {
        color: $white;
    }
    p {
        color: #C2E8D5;
    }
}
.num-counter-container {
    display: flex;
    padding: 36px 0 50px 0;
    width: 100%;
    .num-counter-item {
        text-align: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        flex: 1 1 0%;
        width: auto;
        position: relative;
        span {
            display: block;
            &.num {
                text-transform: uppercase;
                color: #12AA5D;
                font-family: $camptonLight;
                font-size: 72px;
                line-height: 86px;
                min-height: 86px;
            }
            &.text {
                font-family: $camptonBook;
                font-size: 16px;
                line-height: 19px;
                color: $darkGray;
            }
        }
        &:nth-child(1) {
            span {
                &.num {
                    &:after {
                        content: "K";
                        display: inline-block;
                    }
                }
            }
        }
        &:nth-child(2) {
            span {
                &.num {
                    &:after {
                        content: "+";
                        display: inline-block;
                    }
                }
            }
        }
        &:after {
            content: "";
            background: #D8D8D8;
            width: 1px;
            height: 112px;
            display: inline-block;
            position: absolute;
            top: 3px;
            right: -5px;
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}
.wrapper {
    max-width: 500px;
}
.nav {
    display: flex;
    margin: 15px 0;
    padding: 0;
}
.nav li {
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 80px;
    margin: 3px;
    padding: 5px 0;
    list-style: none;
    cursor: pointer;
    transition: all .5s;
    color: #fff;
    border-radius: 5px;
    background-color: hsl(174, 100%, 29%);
}
.nav li:hover {
    background-color: hsl(174, 100%, 35%);
}
.nav strong {
    width: 120px;
}
[class^='box-'],
[class*='box-'] {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    color: #fff;
    box-shadow: 0 0 0 2px #f1f1f1 inset;
}
.box-green {
    background: green;
}
.box-orange {
    background: orange;
}
.box-purple {
    background: purple;
}