.terms-cond-content {
    padding: 80px 0 88px 0;
    @include media-xs {
        padding: 60px 0 68px 0;
    }
    h2 {
        margin-bottom: 0;
    }
    .filter-nav {
        margin: 0 0 50px 0;
    }
    .terms-cond-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        @include media-xs {
            -webkit-box-direction: normal;
            -webkit-box-orient: vertical;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }
        .right-side {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -moz-box-flex: 1;
            -moz-flex: 1;
            -ms-flex: 1;
            flex: 1;
            padding-right: 65px;
            @include media-xs {
                padding-right: 0;
                position: relative;
                margin-bottom: 20px;
                &:before {
                    content: "";
                    background: #eee;
                    position: absolute;
                    top: 0;
                    left: -25px;
                    width: calc(100% + 50px);
                    height: 100%;
                    z-index: -1;
                }
            }
            @include media-sm {
                padding-right: 20px;
            }
            @include media-md {
                padding-right: 30px;
            }
        }
        .left-side {
            -webkit-box-flex: 2;
            -webkit-flex: 2;
            -moz-box-flex: 2;
            -moz-flex: 2;
            -ms-flex: 2;
            flex: 2;
            padding-left: 40px;
            @include media-xs {
                padding-left: 0;
            }
            @include media-sm {
                padding-left: 20px;
            }
        }
        h4 {
            font-family: $camptonSemiBold;
            font-size: 16px;
            line-height: 22px;
            color: #585858;
            margin: 15px 0;
        }
        p {
            font-family: $camptonLight;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            @include media-xs {
                padding: 20px 0 0 0;
            }
            li {
                font-family: $camptonSemiBold;
                font-size: 16px;
                line-height: 22px;
                color: #585858;
                margin-bottom: 20px;
                @include media-xs {
                    font-family: $camptonLight;
                }
            }
        }
    }
    .tab-content {
        margin-top: 55px;
    }
    .nav-tabs {
        border-bottom: 0;
        @include media-xs-portrait {
            display: block;
            text-align: center;
            width: 100%;
        }
        .nav-link {
            cursor: pointer;
            color: $darkGray;
            font-size: 14px;
            line-height: 17px;
            font-family: $camptonBook;
            padding: 6.5px 18px;
            border: 1px solid transparent;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            display: inline-block;
            @include media-xs-portrait {
                width: 100%;
                margin-bottom: 10px;
                border-radius: 20px;
                border: 1px solid #E4EBE6;
            }
            &.active {
                font-family: $camptonSemiBold;
                color: #12AA5D;
                border-radius: 20px;
                margin-right: 15px;
                border: 1px solid #E4EBE6;
                background-color: #EEF5F0;
                @include media-xs-portrait {
                    margin-right: 0;
                }
            }
            &:hover,
            &:focus {
                font-family: $camptonSemiBold;
                color: #12AA5D;
                border-radius: 20px;
                margin-right: 15px;
                border: 1px solid #E4EBE6;
                background-color: #EEF5F0;
            }
        }
    }
}
