.three-column-information-container {
    padding: 70px 0 76px 0;
    display: flex;
    @include media-xs {
        display: block;
        padding: 50px 0 40px 0;
    }
    .column-information-item {
        text-align: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        flex: 1 1 0%;
        width: auto;
        @include media-xs {
            width: 100%;
            display: block;
            flex: initial;
            margin-bottom: 50px;
        }
        &:last-child {
            margin-bottom: 20px;
        }
        span {
            font-family: $camptonSemiBold;
            color: $darkGray;
            font-size: 22px;
            line-height: 27px;
            display: block;
            margin-bottom: 8px;
        }
        p {
            line-height: 19px;
            padding: 0 5px;
            margin: 0;
        }
        .img-container {
            margin-bottom: 27px;
            width: 100%;
            @include media-xs {
                margin-bottom: 15px;
            }
        }
    }
}
