@import url("bootstrap.min.css");
@import url("aos.min.css");
@import url("slick/slick-theme.min.css");
@import url("slick/slick.min.css");
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.visible-xs {
  display: none !important; }
  @media (max-width: 767px) {
    .visible-xs {
      display: block !important; } }

@media (min-width: 1200px) {
  .container {
    max-width: 990px; } }

main {
  margin-top: 80px; }
  @media (min-width: 768px) and (max-width: 991px) {
    main {
      overflow: hidden; } }
  @media (max-width: 767px) {
    main {
      overflow: hidden; } }

h1 {
  padding: 0;
  margin: 0; }

h2 {
  color: #505050;
  font-family: "Campton Semi Bold";
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 20px; }

h3 {
  font-family: "Campton Semi Bold";
  font-size: 28px;
  line-height: 34px;
  color: #505050; }

h4 {
  font-family: "Campton Semi Bold";
  font-size: 24px;
  line-height: 29px;
  color: #505050; }

h5 {
  font-family: "Campton Semi Bold";
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  color: #109C55; }

p {
  font-family: "Campton Book";
  color: #585858;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px; }

.subtitle {
  font-family: "Campton Semi Bold";
  font-size: 18px;
  line-height: 22px;
  display: block;
  margin: 30px 0 10px 0; }

a {
  position: relative; }
  a:focus {
    outline: none;
    text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: inherit; }
  a:active {
    outline: none;
    text-decoration: none; }
  a:visited {
    outline: none;
    text-decoration: none; }

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 767px) {
    .flex-row {
      display: initial;
      display: initial;
      display: block;
      -ms-flex-wrap: initial;
      flex-wrap: initial; } }
  .flex-row:before, .flex-row:after {
    display: none;
    display: none; }
  .flex-row > [class*='col-'] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (max-width: 767px) {
      .flex-row > [class*='col-'] {
        display: initial;
        display: initial;
        display: block;
        -webkit-box-orient: initial;
        -webkit-box-direction: initial;
        -ms-flex-direction: initial;
        flex-direction: initial; } }

.primary-btn {
  background-color: #12AA5D;
  border: 2px solid #12AA5D;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  padding: 8px 19px 7px 17px;
  text-align: center;
  border-radius: 16px;
  letter-spacing: 0.02em;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: "Campton Book";
  text-transform: initial;
  margin-top: 5px; }
  .primary-btn:hover {
    text-decoration: none;
    outline: 0;
    color: #12AA5D;
    background: #ffffff; }
  .primary-btn:focus {
    text-decoration: none;
    outline: 0;
    color: #12AA5D; }
  .primary-btn:active {
    outline: 0; }
  .primary-btn:after {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/images/icons/light-green-right-icon.svg");
    width: 8px;
    height: 12px;
    position: relative;
    top: 1px;
    margin-left: 18px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .primary-btn.orange-btn {
    background-color: #FBC234;
    border-color: #FBC234; }
    .primary-btn.orange-btn:hover {
      background: #ffffff;
      color: #FBC234; }
      .primary-btn.orange-btn:hover:after {
        background-image: url("/assets/images/icons/hover-light-orange-right-icon.svg"); }
    .primary-btn.orange-btn:focus {
      background: #ffffff;
      color: #FBC234; }
      .primary-btn.orange-btn:focus:after {
        background-image: url("/assets/images/icons/hover-light-orange-right-icon.svg"); }
    .primary-btn.orange-btn:after {
      background-image: url("/assets/images/icons/light-orange-right-icon.svg"); }
  .primary-btn.no-icon:after {
    display: none; }

@media (max-width: 768px) {
  .container {
    max-width: 100%; } }

.grayBackground {
  background-color: #EEF5F0; }

.greenBackground {
  background-color: #0B9B52; }

.top-spacing {
  padding-top: 80px; }

.medium-top-spacing {
  padding-top: 70px; }

.add-spacing {
  padding-top: 80px;
  padding-bottom: 100px; }

.small-spacing {
  padding-top: 50px;
  padding-bottom: 100px; }

.half-width {
  width: 50%; }
  @media (max-width: 767px) {
    .half-width {
      width: 100%; } }

@font-face {
  font-family: 'Campton Book Italic';
  src: url("../fonts/campton-book-italic/Campton-BookItalic.eot");
  src: url("../fonts/campton-book-italic/Campton-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/campton-book-italic/Campton-BookItalic.woff2") format("woff2"), url("../fonts/campton-book-italic/Campton-BookItalic.woff") format("woff"), url("../fonts/campton-book-italic/Campton-BookItalic.ttf") format("truetype"), url("../fonts/campton-book-italic/Campton-BookItalic.svg#Campton-BookItalic") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Campton Bold';
  src: url("../fonts/campton-bold/Campton-Bold.eot");
  src: url("../fonts/campton-bold/Campton-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/campton-bold/Campton-Bold.woff2") format("woff2"), url("../fonts/campton-bold/Campton-Bold.woff") format("woff"), url("../fonts/campton-bold/Campton-Bold.ttf") format("truetype"), url("../fonts/campton-bold/Campton-Bold.svg#Campton-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Campton Book';
  src: url("../fonts/campton-book/Campton-Book.eot");
  src: url("../fonts/campton-book/Campton-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/campton-book/Campton-Book.woff2") format("woff2"), url("../fonts/campton-book/Campton-Book.woff") format("woff"), url("../fonts/campton-book/Campton-Book.ttf") format("truetype"), url("../fonts/campton-book/Campton-Book.svg#Campton-Book") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Campton Extra Light';
  src: url("../fonts/campton-extra-light/Campton-ExtraLight.eot");
  src: url("../fonts/campton-extra-light/Campton-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/campton-extra-light/Campton-ExtraLight.woff2") format("woff2"), url("../fonts/campton-extra-light/Campton-ExtraLight.woff") format("woff"), url("../fonts/campton-extra-light/Campton-ExtraLight.ttf") format("truetype"), url("../fonts/campton-extra-light/Campton-ExtraLight.svg#Campton-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Campton Light';
  src: url("../fonts/campton-light/Campton-Light.eot");
  src: url("../fonts/campton-light/Campton-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/campton-light/Campton-Light.woff2") format("woff2"), url("../fonts/campton-light/Campton-Light.woff") format("woff"), url("../fonts/campton-light/Campton-Light.ttf") format("truetype"), url("../fonts/campton-light/Campton-Light.svg#Campton-Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Campton Medium';
  src: url("../fonts/campton-medium/Campton-Medium.eot");
  src: url("../fonts/campton-medium/Campton-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/campton-medium/Campton-Medium.woff2") format("woff2"), url("../fonts/campton-medium/Campton-Medium.woff") format("woff"), url("../fonts/campton-medium/Campton-Medium.ttf") format("truetype"), url("../fonts/campton-medium/Campton-Medium.svg#Campton-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Campton Semi Bold';
  src: url("../fonts/campton-semi-bold/Campton-SemiBold.eot");
  src: url("../fonts/campton-semi-bold/Campton-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/campton-semi-bold/Campton-SemiBold.woff2") format("woff2"), url("../fonts/campton-semi-bold/Campton-SemiBold.woff") format("woff"), url("../fonts/campton-semi-bold/Campton-SemiBold.ttf") format("truetype"), url("../fonts/campton-semi-bold/Campton-SemiBold.svg#Campton-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Campton Semi Bold Italic';
  src: url("../fonts/campton-semi-bold-italic/Campton-SemiBoldItalic.eot");
  src: url("../fonts/campton-semi-bold-italic/Campton-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/campton-semi-bold-italic/Campton-SemiBoldItalic.woff2") format("woff2"), url("../fonts/campton-semi-bold-italic/Campton-SemiBoldItalic.woff") format("woff"), url("../fonts/campton-semi-bold-italic/Campton-SemiBoldItalic.ttf") format("truetype"), url("../fonts/campton-semi-bold-italic/Campton-SemiBoldItalic.svg#Campton-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic; }
body {
  overflow-x: hidden; }
  @media (min-width: 768px) and (max-width: 991px) {
    body main {
      margin-top: 90px; } }
  @media (max-width: 767px) {
    body main {
      margin-top: 78px; } }
  body.menu-open {
    overflow-y: hidden; }
    body.menu-open header .nav-icon {
      background: transparent;
      transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
      body.menu-open header .nav-icon:before {
        opacity: 0;
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
      body.menu-open header .nav-icon:after {
        opacity: 0;
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
    @media (min-width: 768px) and (max-width: 991px) {
      body.menu-open header:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.98);
        width: 5px; }
      body.menu-open header:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.98);
        width: 5px; } }
    body.menu-open nav {
      margin-left: 0%; }
      @media (min-width: 768px) and (max-width: 991px) {
        body.menu-open nav {
          width: 100%; } }
    body.menu-open footer {
      margin-left: 100%; }
      @media (max-width: 767px) {
        body.menu-open footer {
          float: left;
          overflow: hidden;
          height: 0; } }
      @media (min-width: 768px) and (max-width: 991px) {
        body.menu-open footer {
          float: left;
          overflow: hidden;
          height: 0; } }

header {
  background-color: #0B9B52;
  z-index: 99;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  header:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.13);
    position: absolute;
    top: 0;
    left: 0; }
  @media (max-width: 767px) {
    header {
      height: 78px; } }
  header .nav-icon-container {
    position: absolute;
    top: 26px;
    right: 16px;
    width: 24px;
    height: 24px; }
  header .nav-icon {
    width: 24px;
    height: 2.5px;
    position: absolute;
    top: -4px;
    right: 0px;
    transform: translateY(16px);
    -webkit-transform: translateY(16px);
    -moz-transform: translateY(16px);
    -ms-transform: translateY(16px);
    -o-transform: translateY(16px);
    background: #6D645D;
    transition: all 0ms 300ms; }
    header .nav-icon:before {
      width: 24px;
      height: 2.5px;
      content: "";
      position: absolute;
      left: 0;
      bottom: 9px;
      background: #6D645D;
      transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
    header .nav-icon:after {
      width: 24px;
      height: 2.5px;
      content: "";
      position: absolute;
      left: 0;
      top: 9px;
      background: #6D645D;
      transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
  header .logo-container {
    float: left;
    text-align: left;
    width: 83px;
    height: 39px;
    position: absolute;
    top: 23.5px;
    left: 15px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s; }
    header .logo-container a {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s;
      position: relative; }
    header .logo-container .logo {
      height: auto;
      visibility: visible;
      opacity: 1;
      display: block; }
    header .logo-container img {
      width: 83px;
      height: 39px;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s;
      position: relative; }
  header nav {
    text-align: right;
    position: relative;
    margin: 0;
    background: none;
    display: inline-block;
    float: right;
    transition: margin-left 1s ease;
    -webkit-transition: margin-left 1s ease; }
    @media (max-width: 767px) {
      header nav {
        margin-left: -100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        overflow-y: auto;
        background-color: rgba(255, 255, 255, 0.98); } }
    @media (max-width: 767px) and (orientation: landscape) {
      header nav {
        padding-bottom: 320px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      header nav {
        margin-left: -100%;
        width: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        overflow-y: auto;
        background-color: rgba(255, 255, 255, 0.98); } }
    header nav ul {
      padding: 0;
      text-align: right;
      list-style: none;
      width: auto;
      display: block;
      margin-bottom: 0; }
      @media (max-width: 767px) {
        header nav ul {
          margin-left: 0;
          margin-top: 80px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        header nav ul {
          margin-left: 0;
          margin-top: 80px; } }
      header nav ul li {
        list-style: none;
        display: inline-block;
        margin-bottom: 0;
        background: none;
        cursor: pointer;
        padding: 0 42px 0 0;
        position: relative; }
        @media (max-width: 767px) {
          header nav ul li {
            width: 100%;
            text-align: center;
            padding: 0;
            margin-bottom: 28px; } }
        @media (min-width: 992px) and (max-width: 1199px) {
          header nav ul li {
            padding-right: 20px; } }
        @media (min-width: 768px) and (max-width: 991px) {
          header nav ul li {
            width: 100%;
            text-align: center;
            padding: 0;
            margin-bottom: 28px; } }
        header nav ul li:last-child {
          padding-right: 0; }
          @media (max-width: 767px) {
            header nav ul li:last-child {
              margin-bottom: 0; } }
          @media (min-width: 768px) and (max-width: 991px) {
            header nav ul li:last-child {
              margin-bottom: 0; } }
        header nav ul li.active a {
          color: #ffffff; }
          header nav ul li.active a:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            -moz-transform: scaleX(1);
            -ms-transform: scaleX(1);
            -o-transform: scaleX(1);
            transform: scaleX(1); }
        header nav ul li a {
          position: relative;
          padding: 0;
          font-size: 16px;
          line-height: 16px;
          color: #C2E8D5;
          font-family: "Campton Semi Bold";
          letter-spacing: 0.02em;
          padding: 33px 0 31px 0;
          display: block; }
          @media (max-width: 767px) {
            header nav ul li a {
              font-size: 19px;
              letter-spacing: 0;
              line-height: 26px;
              display: inline-block; } }
          @media (min-width: 768px) and (max-width: 991px) {
            header nav ul li a {
              font-size: 19px;
              letter-spacing: 0;
              line-height: 26px;
              display: inline-block; } }
          header nav ul li a:hover {
            color: #ffffff; }
            header nav ul li a:hover:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              -moz-transform: scaleX(1);
              -ms-transform: scaleX(1);
              -o-transform: scaleX(1);
              transform: scaleX(1); }
          header nav ul li a:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -o-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
            background: #ffffff; }
          header nav ul li a:focus {
            text-decoration: none;
            outline: none; }
            header nav ul li a:focus:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              -moz-transform: scaleX(1);
              -ms-transform: scaleX(1);
              -o-transform: scaleX(1);
              transform: scaleX(1); }

footer {
  padding: 32px 0 0 0;
  background: linear-gradient(#0b9b52 0%, #12aa5d 100%); }
  footer .download-container {
    margin-top: 0; }
    footer .download-container a {
      margin-right: 3.5px; }
      footer .download-container a:before {
        height: 40px; }
      footer .download-container a.ios-icon:before {
        width: 123px;
        background: url("/assets/images/icons/footer-ios.svg"); }
      footer .download-container a.android-icon:before {
        width: 135px;
        background: url("/assets/images/icons/footer-android.svg"); }
  footer .footer-info-container {
    background-color: #07944D;
    text-align: center;
    padding: 25px 0 50px 0;
    margin-top: 101px; }
    footer .footer-info-container p {
      color: #C2E8D5;
      font-family: "Campton Light";
      font-size: 14px;
      line-height: 28px;
      margin-bottom: 0; }
    footer .footer-info-container ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      footer .footer-info-container ul li {
        position: relative;
        color: #C2E8D5;
        font-family: "Campton Light";
        font-size: 14px;
        line-height: 28px;
        display: inline-block;
        margin-right: 20px; }
        footer .footer-info-container ul li:after {
          content: "|";
          color: #C2E8D5;
          font-size: 14px;
          line-height: 14px;
          position: absolute;
          top: 6px;
          right: -14px; }
        footer .footer-info-container ul li:last-child {
          margin-right: 0; }
          footer .footer-info-container ul li:last-child:after {
            display: none; }
        footer .footer-info-container ul li a {
          color: #C2E8D5;
          position: relative; }
          footer .footer-info-container ul li a:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -o-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
            background: #C2E8D5; }
          footer .footer-info-container ul li a:hover {
            color: #C2E8D5; }
            footer .footer-info-container ul li a:hover:after {
              visibility: visible;
              -webkit-transform: scaleX(1);
              -moz-transform: scaleX(1);
              -ms-transform: scaleX(1);
              -o-transform: scaleX(1);
              transform: scaleX(1); }
          footer .footer-info-container ul li a:focus {
            color: #C2E8D5; }
    footer .footer-info-container img {
      width: 23.89px;
      height: 31.83px;
      margin-bottom: 10px; }
  footer .footer-content {
    width: 70%;
    margin-top: -55px; }
    footer .footer-content h4 {
      color: #ffffff;
      vertical-align: bottom;
      display: inline-block;
      width: calc(100% - 142px);
      margin: 0; }
    footer .footer-content .footer-content-intro {
      margin-bottom: 20px; }
      footer .footer-content .footer-content-intro img {
        width: 112px;
        height: 112px;
        margin-right: 24px;
        vertical-align: bottom;
        display: inline-block; }
    footer .footer-content p {
      color: #C2E8D5;
      font-size: 14px;
      line-height: 17px;
      width: 82%; }
  footer .footer-links {
    margin-top: 36px; }
    footer .footer-links span {
      color: #ffffff;
      font-family: "Campton Semi Bold";
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 7px;
      display: block; }
    footer .footer-links ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      footer .footer-links ul li {
        position: relative; }
        footer .footer-links ul li:last-child {
          margin-right: 0; }
          footer .footer-links ul li:last-child:after {
            display: none; }
        footer .footer-links ul li a {
          color: #C2E8D5;
          position: relative;
          font-family: "Campton Light";
          font-size: 14px;
          line-height: 24px; }
          footer .footer-links ul li a:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -o-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
            background: #C2E8D5; }
          footer .footer-links ul li a:hover {
            color: #C2E8D5; }
            footer .footer-links ul li a:hover:after {
              visibility: visible;
              -webkit-transform: scaleX(1);
              -moz-transform: scaleX(1);
              -ms-transform: scaleX(1);
              -o-transform: scaleX(1);
              transform: scaleX(1); }
          footer .footer-links ul li a:focus {
            color: #C2E8D5; }
    footer .footer-links .footer-social-links {
      margin-top: 25px; }
      footer .footer-links .footer-social-links ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        footer .footer-links .footer-social-links ul li {
          position: relative;
          color: #C2E8D5;
          display: inline-block;
          margin-right: 19px; }
          footer .footer-links .footer-social-links ul li img {
            height: 24px;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            opacity: 0.8; }
          footer .footer-links .footer-social-links ul li:last-child {
            margin-right: 0; }
            footer .footer-links .footer-social-links ul li:last-child:after {
              display: none; }
          footer .footer-links .footer-social-links ul li a {
            position: relative; }
            footer .footer-links .footer-social-links ul li a:after {
              display: none; }
            footer .footer-links .footer-social-links ul li a:hover {
              color: #C2E8D5; }
              footer .footer-links .footer-social-links ul li a:hover img {
                opacity: 1; }
            footer .footer-links .footer-social-links ul li a:focus {
              color: #C2E8D5; }

.three-column-information-container {
  padding: 70px 0 76px 0;
  display: flex; }
  .three-column-information-container .column-information-item {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 0%;
    width: auto; }
    .three-column-information-container .column-information-item span {
      font-family: "Campton Semi Bold";
      color: #505050;
      font-size: 22px;
      line-height: 27px;
      display: block;
      margin-bottom: 8px; }
    .three-column-information-container .column-information-item p {
      line-height: 19px;
      padding: 0 5px;
      margin: 0; }
    .three-column-information-container .column-information-item .img-container {
      margin-bottom: 27px; }

.jarallax-container {
  position: relative;
  margin: 0;
  padding: 80px 0 120px 0; }
  @media all and (-ms-high-contrast: none) {
    .jarallax-container {
      overflow: hidden; } }
  .jarallax-container .jarallax {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0; }
    @media (max-width: 767px) {
      .jarallax-container .jarallax {
        position: relative;
        height: auto; } }
    .jarallax-container .jarallax .jarallax-img {
      object-position: right !important; }
      @media all and (-ms-high-contrast: none) {
        .jarallax-container .jarallax .jarallax-img {
          object-position: 50% 50% !important;
          background-position-x: right !important;
          right: 0;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 100% 50%;
          width: 100% !important; } }
  .jarallax-container.green-container {
    padding: 80px 0 80px 0; }

.download-container {
  margin-top: 50px; }
  .download-container a {
    display: inline-block;
    margin-right: 5.5px; }
    .download-container a:last-child {
      margin-right: 0; }
    .download-container a:hover:before {
      opacity: 0.8; }
    .download-container a:before {
      content: "";
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      height: 48px; }
    .download-container a.ios-icon:before {
      width: 148px;
      background: url("/assets/images/icons/content-ios.svg"); }
    .download-container a.android-icon:before {
      width: 163px;
      background: url("/assets/images/icons/content-android.svg"); }

.img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; }

.content-img-container {
  margin-top: 38px; }
  .content-img-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; }

.blog-social ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  .blog-social ul li {
    display: inline-block;
    margin-right: 25px; }
    .blog-social ul li:last-child {
      margin-right: 0; }
    .blog-social ul li a img {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      opacity: 0.6; }
    .blog-social ul li a.fcb-icon img {
      width: 38.66px;
      height: 38.4px; }
    .blog-social ul li a.insta-icon img {
      width: 38.4px;
      height: 38.4px; }
    .blog-social ul li a.twitter-icon img {
      width: 38.89px;
      height: 31.73px; }
    .blog-social ul li a:hover img {
      opacity: 1; }

.feature-item-container {
  padding-bottom: 155px;
  margin-top: 55px; }
  .feature-item-container hr {
    margin: 35px 0 44px 0;
    border-color: #E4EBE6; }
  .feature-item-container .feature-item {
    display: inline-block;
    width: calc(100% / 3 - 10px);
    margin-right: 10px; }
    .feature-item-container .feature-item:nth-child(4n + 3) {
      margin-right: 0; }
    @media (max-width: 767px) {
      .feature-item-container .feature-item {
        width: 100%; } }
    @media (max-width: 767px) and (orientation: landscape) {
      .feature-item-container .feature-item {
        width: calc(100% / 2 - 10px); } }
    .feature-item-container .feature-item .img-container {
      width: 60px;
      margin-right: 15px;
      display: inline-block;
      vertical-align: top; }
    .feature-item-container .feature-item .feature-item-content {
      display: inline-block;
      vertical-align: top;
      width: calc(100% - 82px); }
      .feature-item-container .feature-item .feature-item-content .subtitle {
        margin: -4px 0 8px 0; }
      .feature-item-container .feature-item .feature-item-content p {
        font-size: 14px;
        line-height: 20px;
        margin: 0; }

.testimonial-container {
  text-align: center;
  padding: 70px 0 80px 0; }
  .testimonial-container p {
    font-family: "Campton Light";
    font-size: 40px;
    line-height: 48px;
    color: #505050;
    margin-bottom: 10px; }
  .testimonial-container .star-container {
    width: 313px;
    height: 36px;
    position: relative;
    margin: 0 auto; }
    .testimonial-container .star-container:after {
      content: "";
      width: 313px;
      height: 36px;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      background-image: url("/assets/images/icons/five-star.svg"); }
    .testimonial-container .star-container.four-star:after {
      background-image: url("/assets/images/icons/four-star.svg"); }
    .testimonial-container .star-container.three-star:after {
      background-image: url("/assets/images/icons/three-star.svg"); }
    .testimonial-container .star-container.two-star:after {
      background-image: url("/assets/images/icons/two-star.svg"); }
    .testimonial-container .star-container.one-star:after {
      background-image: url("/assets/images/icons/one-star.svg"); }
  .testimonial-container img {
    margin-bottom: 6px;
    max-width: 100%;
    max-height: 100%; }

.accordion-container {
  background: #fff;
  border: 1px solid #e4ebe6;
  border-radius: 8px; }
  .accordion-container .card {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #E4EBE6;
    background: transparent; }
    .accordion-container .card:last-child {
      border-bottom: none; }
    .accordion-container .card .card-header {
      background: transparent;
      border-radius: 0;
      border: none;
      padding: 15px 15px 15px 82px; }
      .accordion-container .card .card-header button {
        border: none;
        background: transparent;
        box-shadow: none;
        padding: 0;
        font-family: "Campton Semi Bold";
        font-size: 18px;
        line-height: 18px;
        color: #505050;
        position: relative; }
        .accordion-container .card .card-header button:focus {
          outline: none;
          box-shadow: none; }
        .accordion-container .card .card-header button:hover:after {
          visibility: visible;
          -webkit-transform: scaleX(1);
          -moz-transform: scaleX(1);
          -ms-transform: scaleX(1);
          -o-transform: scaleX(1);
          transform: scaleX(1); }
        .accordion-container .card .card-header button:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: -5px;
          left: 0;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          -moz-transform: scaleX(0);
          -ms-transform: scaleX(0);
          -o-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          -moz-transition: all 0.3s ease-in-out 0s;
          -ms-transition: all 0.3s ease-in-out 0s;
          -o-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
          background: #505050; }
      .accordion-container .card .card-header [data-toggle="collapse"].accordion-icon:before {
        content: "";
        position: absolute;
        top: 5px;
        left: -59px;
        width: 15px;
        height: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("/assets/images/icons/green-up.svg"); }
      .accordion-container .card .card-header [data-toggle="collapse"].collapsed.accordion-icon:before {
        content: "";
        background-image: url("/assets/images/icons/green-down.svg"); }
    .accordion-container .card .card-body {
      padding: 0 30px 25px 82px; }
      .accordion-container .card .card-body p {
        margin-bottom: 25px; }

.green-container h5 {
  color: #FBC234; }
.green-container h2 {
  color: #ffffff;
  margin-bottom: 10px; }
.green-container p {
  color: #C2E8D5;
  width: 67%; }

.num-counter-container {
  display: flex;
  padding: 36px 0 50px 0;
  width: 100%; }
  .num-counter-container .num-counter-item {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 0%;
    width: auto;
    position: relative; }
    .num-counter-container .num-counter-item span {
      display: block; }
      .num-counter-container .num-counter-item span.num {
        text-transform: uppercase;
        color: #12AA5D;
        font-family: "Campton Light";
        font-size: 72px;
        line-height: 86px;
        min-height: 86px; }
      .num-counter-container .num-counter-item span.text {
        font-family: "Campton Book";
        font-size: 16px;
        line-height: 19px;
        color: #505050; }
    .num-counter-container .num-counter-item:nth-child(1) span.num:after {
      content: "K";
      display: inline-block; }
    .num-counter-container .num-counter-item:nth-child(2) span.num:after {
      content: "+";
      display: inline-block; }
    .num-counter-container .num-counter-item:after {
      content: "";
      background: #D8D8D8;
      width: 1px;
      height: 112px;
      display: inline-block;
      position: absolute;
      top: 3px;
      right: -5px; }
    .num-counter-container .num-counter-item:last-child:after {
      display: none; }

.subscribe-form {
  margin-top: 25px; }
  .subscribe-form .primary-btn {
    display: inline-block;
    vertical-align: top;
    margin-top: 0; }
  .subscribe-form .form-group {
    vertical-align: top;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 0; }
    .subscribe-form .form-group.error span.error-msg {
      display: block; }
    .subscribe-form .form-group .input-group {
      position: relative; }
    .subscribe-form .form-group input {
      font-family: "Campton Book";
      color: #828282;
      font-size: 14px;
      line-height: 22px;
      background: #ffffff;
      width: 100%;
      padding: 4.5px 17px 4.5px 18px;
      border: 1px solid transparent;
      border-radius: 16px;
      width: 380px; }
      @media (max-width: 767px) {
        .subscribe-form .form-group input {
          display: block; } }
      .subscribe-form .form-group input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-family: "Campton Book";
        color: #828282;
        font-size: 14px;
        line-height: 22px;
        padding: 13px 17px 13px 0; }
      .subscribe-form .form-group input::-moz-placeholder {
        /* Firefox 19+ */
        font-family: "Campton Book";
        color: #828282;
        font-size: 14px;
        line-height: 22px;
        padding: 13px 17px 13px 0; }
      .subscribe-form .form-group input:-ms-input-placeholder {
        /* IE 10+ */
        font-family: "Campton Book";
        color: #828282;
        font-size: 14px;
        line-height: 22px;
        padding: 13px 17px 13px 0; }
      .subscribe-form .form-group input:-moz-placeholder {
        /* Firefox 18- */
        font-family: "Campton Book";
        color: #828282;
        font-size: 14px;
        line-height: 22px;
        padding: 13px 17px 13px 0; }
      .subscribe-form .form-group input:focus {
        outline: none;
        box-shadow: none;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
    .subscribe-form .form-group span.error-msg {
      display: none;
      position: absolute;
      top: 49%;
      right: 10px;
      color: #D1001A;
      font-family: "Campton Light";
      font-size: 12px;
      line-height: 12px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%); }

.home-notifications-container {
  background: linear-gradient(#0b9b52 0%, #12aa5d 100%);
  padding: 80px 0 88px 0; }
  .home-notifications-container hr {
    border-color: rgba(255, 255, 255, 0.3);
    margin: 44px 0 60px 0; }
  .home-notifications-container p {
    color: #C2E8D5;
    margin-bottom: 25px; }
  .home-notifications-container h2 {
    color: #ffffff; }
  .home-notifications-container h5 {
    color: #FBC234; }
  .home-notifications-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; }

.notification-item h3 {
  color: #ffffff; }
.notification-item h5 {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 3px; }
.notification-item .img-container {
  display: inline-block;
  width: 96px;
  vertical-align: top;
  margin-right: 20px; }
.notification-item .notification-item-intro-content {
  display: inline-block;
  width: calc(100% - 123px);
  vertical-align: top; }
.notification-item .notification-item-intro {
  margin-bottom: 30px; }

.filter-nav {
  margin: 40px 0 20px 0;
  padding: 0;
  list-style: none; }
  .filter-nav li {
    display: inline-block;
    cursor: pointer;
    color: #505050;
    font-size: 14px;
    line-height: 17px;
    font-family: "Campton Book";
    padding: 7.5px 16px;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .filter-nav li:hover {
      font-family: "Campton Semi Bold";
      color: #12AA5D;
      border-radius: 20px;
      padding: 7.5px 32px;
      border: 1px solid #E4EBE6;
      background-color: #ffffff; }
    .filter-nav li.active {
      font-family: "Campton Semi Bold";
      color: #12AA5D;
      border-radius: 20px;
      padding: 7.5px 32px;
      margin-right: 15px;
      border: 1px solid #E4EBE6;
      background-color: #ffffff; }
    @media all and (-ms-high-contrast: none) {
      .filter-nav li {
        display: none; }
        .filter-nav li:first-child {
          display: inline-block; } }
    .filter-nav li:last-child.active {
      margin-right: 0; }

.filter-search {
  position: absolute;
  top: 0;
  right: -15px;
  width: 244px; }
  .filter-search input {
    font-family: "Campton Book";
    color: #828282;
    font-size: 14px;
    line-height: 22px;
    background: #ffffff;
    width: 100%;
    padding: 4.5px 17px 4.5px 44px;
    border: 1px solid transparent;
    border-radius: 16px;
    width: 100%; }
    @media (max-width: 767px) {
      .filter-search input {
        display: block; } }
    .filter-search input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-family: "Campton Book";
      color: #828282;
      font-size: 14px;
      line-height: 22px;
      padding: 13px 17px 13px 0; }
    .filter-search input::-moz-placeholder {
      /* Firefox 19+ */
      font-family: "Campton Book";
      color: #828282;
      font-size: 14px;
      line-height: 22px;
      padding: 13px 17px 13px 0; }
    .filter-search input:-ms-input-placeholder {
      /* IE 10+ */
      font-family: "Campton Book";
      color: #828282;
      font-size: 14px;
      line-height: 22px;
      padding: 13px 17px 13px 0; }
    .filter-search input:-moz-placeholder {
      /* Firefox 18- */
      font-family: "Campton Book";
      color: #828282;
      font-size: 14px;
      line-height: 22px;
      padding: 13px 17px 13px 0; }
    .filter-search input:focus {
      outline: none;
      box-shadow: none;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .filter-search:before {
    content: "";
    position: absolute;
    top: 9px;
    left: 15px;
    width: 17.33px;
    height: 15.43px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/images/icons/search-icon.svg"); }

.filter-container .row {
  padding: 0 10px !important;
  margin-left: -20px; }
  .filter-container .row [class*="col-"] {
    padding: 10px; }
.filter-container .filtr-item {
  display: inline-block;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer; }

.company-person-container {
  margin-bottom: 130px; }
  .company-person-container .filter-nav li:hover {
    background: #EEF5F0; }
  .company-person-container .filter-nav li.active {
    background: #EEF5F0; }
  .company-person-container .filtr-item:hover .img-container:after {
    opacity: 0.6; }
  .company-person-container .filtr-item:hover .img-container .person-social-container {
    transform: translateY(-57px);
    -webkit-transform: translateY(-57px);
    -moz-transform: translateY(-57px);
    -ms-transform: translateY(-57px);
    -o-transform: translateY(-57px);
    bottom: 0; }
  .company-person-container .filtr-item:hover .img-container img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  .company-person-container .filtr-item .img-container {
    height: 167px;
    position: relative;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden; }
    .company-person-container .filtr-item .img-container img {
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }
    .company-person-container .filtr-item .img-container:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 8px 8px 0px 0px;
      background: #000000;
      transition: opacity 0.5s cubic-bezier(0.35, 0.52, 0.2, 1);
      opacity: 0; }
    .company-person-container .filtr-item .img-container .person-social-container {
      position: absolute;
      left: 57px;
      font-size: 0;
      z-index: 9;
      bottom: -38px;
      transition: transform 0.5s cubic-bezier(0.35, 0.52, 0.2, 1); }
      .company-person-container .filtr-item .img-container .person-social-container a {
        display: inline-block; }
        .company-person-container .filtr-item .img-container .person-social-container a:after {
          content: "";
          background-size: cover;
          background-repeat: no-repeat;
          display: block;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          height: 37.65px;
          width: 37.65px;
          background-image: url("/assets/images/icons/hover-insta.svg"); }
        .company-person-container .filtr-item .img-container .person-social-container a:hover:after {
          opacity: 0.8; }
        .company-person-container .filtr-item .img-container .person-social-container a.insta-icon {
          margin-right: 28px;
          height: 37.65px;
          width: 37.65px; }
        .company-person-container .filtr-item .img-container .person-social-container a.twitter-icon {
          width: 46.33px;
          height: 37.65px; }
          .company-person-container .filtr-item .img-container .person-social-container a.twitter-icon:after {
            width: 46.33px;
            background-image: url("/assets/images/icons/hover-twitter.svg"); }
  .company-person-container .filtr-item .filtr-item-content {
    background: #0B9B52;
    border-top: 3px solid #ffffff;
    padding: 12px 16px 14px 16px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    position: relative;
    z-index: 9; }
    .company-person-container .filtr-item .filtr-item-content span,
    .company-person-container .filtr-item .filtr-item-content a {
      display: block;
      font-family: "Campton Book";
      font-size: 14px;
      line-height: 20px;
      color: #C2E8D5;
      margin-bottom: 0; }
      .company-person-container .filtr-item .filtr-item-content span.name,
      .company-person-container .filtr-item .filtr-item-content a.name {
        font-family: "Campton Semi Bold";
        color: #ffffff; }
    .company-person-container .filtr-item .filtr-item-content a {
      display: table; }
      .company-person-container .filtr-item .filtr-item-content a:hover {
        color: #C2E8D5; }
        .company-person-container .filtr-item .filtr-item-content a:hover:after {
          visibility: visible;
          -webkit-transform: scaleX(1);
          -moz-transform: scaleX(1);
          -ms-transform: scaleX(1);
          -o-transform: scaleX(1);
          transform: scaleX(1); }
      .company-person-container .filtr-item .filtr-item-content a:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        background: #C2E8D5; }

.latest-blog-container {
  position: relative; }
  .latest-blog-container .filter-nav {
    margin: 40px 0 15px 0; }

.blog-item-container {
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #E4EBE6;
  display: block; }
  .blog-item-container .blog-img-container {
    height: 160px;
    position: relative;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden; }
    .blog-item-container .blog-img-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }
    .blog-item-container .blog-img-container:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 8px 8px 0px 0px;
      background: #000000;
      transition: opacity 0.5s cubic-bezier(0.35, 0.52, 0.2, 1);
      opacity: 0; }
  .blog-item-container .filtr-item-content {
    padding: 29px 38px 21px 24px;
    position: relative; }
    .blog-item-container .filtr-item-content .blog-author {
      border-top: 1px solid #E4EBE6;
      padding-top: 20px;
      margin-top: 25px; }
      .blog-item-container .filtr-item-content .blog-author .img-container {
        display: inline-block;
        vertical-align: top;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        margin-right: 8px; }
      .blog-item-container .filtr-item-content .blog-author .blog-author-info {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 45px); }
        .blog-item-container .filtr-item-content .blog-author .blog-author-info span {
          display: block;
          font-size: 12px;
          line-height: 14px; }
          .blog-item-container .filtr-item-content .blog-author .blog-author-info span.name {
            color: #585858;
            font-family: "Campton Semi Bold";
            letter-spacing: 0.4px;
            margin-bottom: 3px; }
          .blog-item-container .filtr-item-content .blog-author .blog-author-info span.time {
            color: #828282;
            font-family: "Campton Book"; }
    .blog-item-container .filtr-item-content h5 {
      font-size: 14px;
      line-height: 17px;
      margin: 0 0 3px 0; }
    .blog-item-container .filtr-item-content h4 {
      margin-bottom: 20px;
      min-height: 58px; }
    .blog-item-container .filtr-item-content p {
      font-family: "Campton Light"; }
    .blog-item-container .filtr-item-content:after, .blog-item-container .filtr-item-content:before {
      position: absolute;
      top: 15px;
      right: 15px;
      bottom: 15px;
      left: 15px;
      content: '';
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s; }
    .blog-item-container .filtr-item-content:before {
      border-top: 1px solid #aecab6;
      border-bottom: 1px solid #aecab6;
      -webkit-transform: scale(0, 1); }
    .blog-item-container .filtr-item-content:after {
      border-right: 1px solid #aecab6;
      border-left: 1px solid #aecab6;
      -webkit-transform: scale(1, 0);
      transform: scale(1, 0); }
  .blog-item-container:hover .blog-img-container:after {
    opacity: 0.6; }
  .blog-item-container:hover .blog-img-container img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  .blog-item-container:hover .filtr-item-content:after, .blog-item-container:hover .filtr-item-content:before {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  .blog-item-container:hover:before {
    opacity: 0.8; }
  .blog-item-container:before {
    content: "";
    background: #EEF5F0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s; }

.blog-more-load-container {
  margin-bottom: 58px; }
  .blog-more-load-container .blog-item-container {
    margin-bottom: 20px;
    display: inline-block;
    width: calc(100% / 3 - 13px);
    margin-right: 15px;
    background: transparent; }
    @media (max-width: 767px) {
      .blog-more-load-container .blog-item-container {
        margin-right: 0; } }
    .blog-more-load-container .blog-item-container:nth-child(3n) {
      margin-right: 0; }
    .blog-more-load-container .blog-item-container h4 {
      font-size: 18px;
      line-height: 22px; }
    .blog-more-load-container .blog-item-container h5 {
      font-size: 12px;
      line-height: 14px; }
    .blog-more-load-container .blog-item-container .filtr-item-content {
      padding: 29px 15px 21px 24px; }
  .blog-more-load-container .btn-container {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 120px; }
    .blog-more-load-container .btn-container .primary-btn {
      min-width: 252px; }
      .blog-more-load-container .btn-container .primary-btn:focus {
        background-color: #12AA5D;
        color: #ffffff; }
        .blog-more-load-container .btn-container .primary-btn:focus:hover {
          color: #12AA5D;
          background: #ffffff; }

.blog-social-intro-container {
  padding: 22px 0 25px 0;
  position: relative; }
  .blog-social-intro-container .blog-social-intro img {
    width: 60px;
    height: 60px;
    margin-right: 14px;
    vertical-align: middle; }
  .blog-social-intro-container .blog-social-intro span {
    font-family: "Campton Semi Bold";
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    width: 28%;
    color: #979797;
    vertical-align: middle;
    position: relative;
    top: -2px; }
  .blog-social-intro-container .blog-social {
    position: absolute;
    right: 0;
    top: 32px; }
    .blog-social-intro-container .blog-social ul li {
      margin-right: 20px; }
      .blog-social-intro-container .blog-social ul li:last-child {
        margin-right: 0; }
      .blog-social-intro-container .blog-social ul li a.fcb-icon img {
        width: 22.65px;
        height: 22.5px; }
      .blog-social-intro-container .blog-social ul li a.insta-icon img {
        width: 24px;
        height: 24px; }
      .blog-social-intro-container .blog-social ul li a.twitter-icon img {
        width: 18.92px;
        height: 15.44px; }

/*# sourceMappingURL=main.css.map */
