@import url("bootstrap.min.css");
@import url("aos.min.css");
@import url("slick/slick-theme.min.css");
@import url("slick/slick.min.css");
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.visible-xs {
  display: none !important; }
  @media (max-width: 767px) {
    .visible-xs {
      display: block !important; } }

@media (min-width: 1200px) {
  .container {
    max-width: 990px; } }

main {
  margin-top: 80px; }
  @media (min-width: 768px) and (max-width: 991px) {
    main {
      overflow: hidden; } }
  @media (max-width: 767px) {
    main {
      overflow: hidden; } }

h1 {
  padding: 0;
  margin: 0; }

h2 {
  color: #505050;
  font-family: "Campton Semi Bold";
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 20px; }

h3 {
  font-family: "Campton Semi Bold";
  font-size: 28px;
  line-height: 34px;
  color: #505050; }

h4 {
  font-family: "Campton Semi Bold";
  font-size: 24px;
  line-height: 29px;
  color: #505050; }

h5 {
  font-family: "Campton Semi Bold";
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  color: #109C55; }

p {
  font-family: "Campton Book";
  color: #585858;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px; }

.subtitle {
  font-family: "Campton Semi Bold";
  font-size: 18px;
  line-height: 22px;
  display: block;
  margin: 30px 0 10px 0; }

a {
  position: relative; }
  a:focus {
    outline: none;
    text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: inherit; }
  a:active {
    outline: none;
    text-decoration: none; }
  a:visited {
    outline: none;
    text-decoration: none; }

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 767px) {
    .flex-row {
      display: initial;
      display: initial;
      display: block;
      -ms-flex-wrap: initial;
      flex-wrap: initial; } }
  .flex-row:before, .flex-row:after {
    display: none;
    display: none; }
  .flex-row > [class*='col-'] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (max-width: 767px) {
      .flex-row > [class*='col-'] {
        display: initial;
        display: initial;
        display: block;
        -webkit-box-orient: initial;
        -webkit-box-direction: initial;
        -ms-flex-direction: initial;
        flex-direction: initial; } }

.primary-btn {
  background-color: transparent;
  color: #ffffff;
  font-size: 30px;
  line-height: 30px;
  padding: 12px 52px 14px 52px;
  text-align: center;
  border-radius: 0;
  letter-spacing: 1.8px;
  position: relative;
  z-index: 1;
  border: 2px solid #ffffff;
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: uppercase; }
  .primary-btn:hover {
    text-decoration: none;
    outline: 0;
    background-color: #ffffff; }
  .primary-btn:focus {
    text-decoration: none;
    outline: 0; }
  .primary-btn:active {
    outline: 0; }

@media (max-width: 768px) {
  .container {
    max-width: 100%; } }

.grayBackground {
  background-color: #EEF5F0; }

.greenBackground {
  background-color: #0B9B52; }

.top-spacing {
  padding-top: 80px; }

@font-face {
  font-family: 'Campton Book Italic';
  src: url("../fonts/campton-book-italic/Campton-BookItalic.eot");
  src: url("../fonts/campton-book-italic/Campton-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/campton-book-italic/Campton-BookItalic.woff2") format("woff2"), url("../fonts/campton-book-italic/Campton-BookItalic.woff") format("woff"), url("../fonts/campton-book-italic/Campton-BookItalic.ttf") format("truetype"), url("../fonts/campton-book-italic/Campton-BookItalic.svg#Campton-BookItalic") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Campton Bold';
  src: url("../fonts/campton-bold/Campton-Bold.eot");
  src: url("../fonts/campton-bold/Campton-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/campton-bold/Campton-Bold.woff2") format("woff2"), url("../fonts/campton-bold/Campton-Bold.woff") format("woff"), url("../fonts/campton-bold/Campton-Bold.ttf") format("truetype"), url("../fonts/campton-bold/Campton-Bold.svg#Campton-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Campton Book';
  src: url("../fonts/campton-book/Campton-Book.eot");
  src: url("../fonts/campton-book/Campton-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/campton-book/Campton-Book.woff2") format("woff2"), url("../fonts/campton-book/Campton-Book.woff") format("woff"), url("../fonts/campton-book/Campton-Book.ttf") format("truetype"), url("../fonts/campton-book/Campton-Book.svg#Campton-Book") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Campton ExtraLight';
  src: url("../fonts/campton-/Campton-ExtraLight.eot");
  src: url("../fonts/campton-extra-light/Campton-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/campton-extra-light/Campton-ExtraLight.woff2") format("woff2"), url("../fonts/campton-extra-light/Campton-ExtraLight.woff") format("woff"), url("../fonts/campton-extra-light/Campton-ExtraLight.ttf") format("truetype"), url("../fonts/campton-extra-light/Campton-ExtraLight.svg#Campton-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Campton Light';
  src: url("../fonts/campton-light/Campton-Light.eot");
  src: url("../fonts/campton-light/Campton-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/campton-light/Campton-Light.woff2") format("woff2"), url("../fonts/campton-light/Campton-Light.woff") format("woff"), url("../fonts/campton-light/Campton-Light.ttf") format("truetype"), url("../fonts/campton-light/Campton-Light.svg#Campton-Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Campton Medium';
  src: url("../fonts/campton-medium/Campton-Medium.eot");
  src: url("../fonts/campton-medium/Campton-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/campton-medium/Campton-Medium.woff2") format("woff2"), url("../fonts/campton-medium/Campton-Medium.woff") format("woff"), url("../fonts/campton-medium/Campton-Medium.ttf") format("truetype"), url("../fonts/campton-medium/Campton-Medium.svg#Campton-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Campton Semi Bold';
  src: url("../fonts/campton-semi-bold/Campton-SemiBold.eot");
  src: url("../fonts/campton-semi-bold/Campton-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/campton-semi-bold/Campton-SemiBold.woff2") format("woff2"), url("../fonts/campton-semi-bold/Campton-SemiBold.woff") format("woff"), url("../fonts/campton-semi-bold/Campton-SemiBold.ttf") format("truetype"), url("../fonts/campton-semi-bold/Campton-SemiBold.svg#Campton-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Campton Semi Bold Italic';
  src: url("../fonts/campton-semi-bold-italic/Campton-SemiBoldItalic.eot");
  src: url("../fonts/campton-semi-bold-italic/Campton-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/campton-semi-bold-italic/Campton-SemiBoldItalic.woff2") format("woff2"), url("../fonts/campton-semi-bold-italic/Campton-SemiBoldItalic.woff") format("woff"), url("../fonts/campton-semi-bold-italic/Campton-SemiBoldItalic.ttf") format("truetype"), url("../fonts/campton-semi-bold-italic/Campton-SemiBoldItalic.svg#Campton-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic; }
body {
  overflow-x: hidden; }
  @media (min-width: 768px) and (max-width: 991px) {
    body main {
      margin-top: 90px; } }
  @media (max-width: 767px) {
    body main {
      margin-top: 78px; } }
  body.menu-open {
    overflow-y: hidden; }
    body.menu-open header .nav-icon {
      background: transparent;
      transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
      body.menu-open header .nav-icon:before {
        opacity: 0;
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
      body.menu-open header .nav-icon:after {
        opacity: 0;
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
    @media (min-width: 768px) and (max-width: 991px) {
      body.menu-open header:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.98);
        width: 5px; }
      body.menu-open header:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.98);
        width: 5px; } }
    body.menu-open nav {
      margin-left: 0%; }
      @media (min-width: 768px) and (max-width: 991px) {
        body.menu-open nav {
          width: 100%; } }
    body.menu-open footer {
      margin-left: 100%; }
      @media (max-width: 767px) {
        body.menu-open footer {
          float: left;
          overflow: hidden;
          height: 0; } }
      @media (min-width: 768px) and (max-width: 991px) {
        body.menu-open footer {
          float: left;
          overflow: hidden;
          height: 0; } }

header {
  background-color: #0B9B52;
  z-index: 99;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  header:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.13);
    position: absolute;
    top: 0;
    left: 0; }
  @media (max-width: 767px) {
    header {
      height: 78px; } }
  header .nav-icon-container {
    position: absolute;
    top: 26px;
    right: 16px;
    width: 24px;
    height: 24px; }
  header .nav-icon {
    width: 24px;
    height: 2.5px;
    position: absolute;
    top: -4px;
    right: 0px;
    transform: translateY(16px);
    background: #6D645D;
    transition: all 0ms 300ms; }
    header .nav-icon:before {
      width: 24px;
      height: 2.5px;
      content: "";
      position: absolute;
      left: 0;
      bottom: 9px;
      background: #6D645D;
      transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
    header .nav-icon:after {
      width: 24px;
      height: 2.5px;
      content: "";
      position: absolute;
      left: 0;
      top: 9px;
      background: #6D645D;
      transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
  header .logo-container {
    float: left;
    text-align: left;
    width: 83px;
    height: 39px;
    position: absolute;
    top: 23.5px;
    left: 15px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s; }
    header .logo-container a {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s;
      position: relative; }
    header .logo-container .logo {
      height: auto;
      visibility: visible;
      opacity: 1;
      display: block; }
    header .logo-container img {
      width: 83px;
      height: 39px;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s;
      position: relative; }
  header nav {
    text-align: right;
    position: relative;
    margin: 0;
    background: none;
    display: inline-block;
    float: right;
    transition: margin-left 1s ease;
    -webkit-transition: margin-left 1s ease; }
    @media (max-width: 767px) {
      header nav {
        margin-left: -100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        overflow-y: auto;
        background-color: rgba(255, 255, 255, 0.98); } }
    @media (max-width: 767px) and (orientation: landscape) {
      header nav {
        padding-bottom: 320px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      header nav {
        margin-left: -100%;
        width: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        overflow-y: auto;
        background-color: rgba(255, 255, 255, 0.98); } }
    header nav ul {
      padding: 0;
      text-align: right;
      list-style: none;
      width: auto;
      display: block;
      margin-bottom: 0; }
      @media (max-width: 767px) {
        header nav ul {
          margin-left: 0;
          margin-top: 80px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        header nav ul {
          margin-left: 0;
          margin-top: 80px; } }
      header nav ul li {
        list-style: none;
        display: inline-block;
        margin-bottom: 0;
        background: none;
        cursor: pointer;
        padding: 0 42px 0 0;
        position: relative; }
        @media (max-width: 767px) {
          header nav ul li {
            width: 100%;
            text-align: center;
            padding: 0;
            margin-bottom: 28px; } }
        @media (min-width: 992px) and (max-width: 1199px) {
          header nav ul li {
            padding-right: 20px; } }
        @media (min-width: 768px) and (max-width: 991px) {
          header nav ul li {
            width: 100%;
            text-align: center;
            padding: 0;
            margin-bottom: 28px; } }
        header nav ul li:last-child {
          padding-right: 0; }
          @media (max-width: 767px) {
            header nav ul li:last-child {
              margin-bottom: 0; } }
          @media (min-width: 768px) and (max-width: 991px) {
            header nav ul li:last-child {
              margin-bottom: 0; } }
        header nav ul li.active a {
          color: #ffffff; }
          header nav ul li.active a:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            -moz-transform: scaleX(1);
            -ms-transform: scaleX(1);
            -o-transform: scaleX(1);
            transform: scaleX(1); }
        header nav ul li a {
          position: relative;
          padding: 0;
          font-size: 16px;
          line-height: 16px;
          color: #C2E8D5;
          font-family: "Campton Semi Bold";
          letter-spacing: 0.02em;
          padding: 33px 0 31px 0;
          display: block; }
          @media (max-width: 767px) {
            header nav ul li a {
              font-size: 19px;
              letter-spacing: 0;
              line-height: 26px;
              display: inline-block; } }
          @media (min-width: 768px) and (max-width: 991px) {
            header nav ul li a {
              font-size: 19px;
              letter-spacing: 0;
              line-height: 26px;
              display: inline-block; } }
          header nav ul li a:hover {
            color: #ffffff; }
            header nav ul li a:hover:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              -moz-transform: scaleX(1);
              -ms-transform: scaleX(1);
              -o-transform: scaleX(1);
              transform: scaleX(1); }
          header nav ul li a:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -o-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
            background: #ffffff; }
          header nav ul li a:focus {
            text-decoration: none;
            outline: none; }
            header nav ul li a:focus:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              -moz-transform: scaleX(1);
              -ms-transform: scaleX(1);
              -o-transform: scaleX(1);
              transform: scaleX(1); }

footer {
  padding: 32px 0 0 0;
  background: linear-gradient(#0b9b52 0%, #12aa5d 100%); }
  footer .download-container {
    margin-top: 0; }
    footer .download-container a {
      margin-right: 3.5px; }
      footer .download-container a:before {
        height: 40px; }
      footer .download-container a.ios-icon:before {
        width: 123px;
        background: url("/assets/images/icons/footer-ios.svg"); }
      footer .download-container a.android-icon:before {
        width: 135px;
        background: url("/assets/images/icons/footer-android.svg"); }
  footer .footer-info-container {
    background-color: #07944D;
    text-align: center;
    padding: 25px 0 50px 0;
    margin-top: 101px; }
    footer .footer-info-container p {
      color: #C2E8D5;
      font-family: "Campton Light";
      font-size: 14px;
      line-height: 28px;
      margin-bottom: 0; }
    footer .footer-info-container ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      footer .footer-info-container ul li {
        position: relative;
        color: #C2E8D5;
        font-family: "Campton Light";
        font-size: 14px;
        line-height: 28px;
        display: inline-block;
        margin-right: 20px; }
        footer .footer-info-container ul li:after {
          content: "|";
          color: #C2E8D5;
          font-size: 14px;
          line-height: 14px;
          position: absolute;
          top: 6px;
          right: -14px; }
        footer .footer-info-container ul li:last-child {
          margin-right: 0; }
          footer .footer-info-container ul li:last-child:after {
            display: none; }
        footer .footer-info-container ul li a {
          color: #C2E8D5;
          position: relative; }
          footer .footer-info-container ul li a:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -o-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
            background: #C2E8D5; }
          footer .footer-info-container ul li a:hover {
            color: #C2E8D5; }
            footer .footer-info-container ul li a:hover:after {
              visibility: visible;
              -webkit-transform: scaleX(1);
              -moz-transform: scaleX(1);
              -ms-transform: scaleX(1);
              -o-transform: scaleX(1);
              transform: scaleX(1); }
          footer .footer-info-container ul li a:focus {
            color: #C2E8D5; }
    footer .footer-info-container img {
      width: 23.89px;
      height: 31.83px;
      margin-bottom: 10px; }
  footer .footer-content {
    width: 70%;
    margin-top: -55px; }
    footer .footer-content h4 {
      color: #ffffff;
      vertical-align: bottom;
      display: inline-block;
      width: calc(100% - 142px);
      margin: 0; }
    footer .footer-content .footer-content-intro {
      margin-bottom: 20px; }
      footer .footer-content .footer-content-intro img {
        width: 112px;
        height: 112px;
        margin-right: 24px;
        vertical-align: bottom;
        display: inline-block; }
    footer .footer-content p {
      color: #C2E8D5;
      font-size: 14px;
      line-height: 17px;
      width: 82%; }
  footer .footer-links {
    margin-top: 36px; }
    footer .footer-links span {
      color: #ffffff;
      font-family: "Campton Semi Bold";
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 7px;
      display: block; }
    footer .footer-links ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      footer .footer-links ul li {
        position: relative; }
        footer .footer-links ul li:last-child {
          margin-right: 0; }
          footer .footer-links ul li:last-child:after {
            display: none; }
        footer .footer-links ul li a {
          color: #C2E8D5;
          position: relative;
          font-family: "Campton Light";
          font-size: 14px;
          line-height: 24px; }
          footer .footer-links ul li a:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -o-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
            background: #C2E8D5; }
          footer .footer-links ul li a:hover {
            color: #C2E8D5; }
            footer .footer-links ul li a:hover:after {
              visibility: visible;
              -webkit-transform: scaleX(1);
              -moz-transform: scaleX(1);
              -ms-transform: scaleX(1);
              -o-transform: scaleX(1);
              transform: scaleX(1); }
          footer .footer-links ul li a:focus {
            color: #C2E8D5; }
    footer .footer-links .footer-social-links {
      margin-top: 25px; }
      footer .footer-links .footer-social-links ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        footer .footer-links .footer-social-links ul li {
          position: relative;
          color: #C2E8D5;
          display: inline-block;
          margin-right: 19px; }
          footer .footer-links .footer-social-links ul li img {
            height: 24px;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            opacity: 0.8; }
          footer .footer-links .footer-social-links ul li:last-child {
            margin-right: 0; }
            footer .footer-links .footer-social-links ul li:last-child:after {
              display: none; }
          footer .footer-links .footer-social-links ul li a {
            position: relative; }
            footer .footer-links .footer-social-links ul li a:after {
              display: none; }
            footer .footer-links .footer-social-links ul li a:hover {
              color: #C2E8D5; }
              footer .footer-links .footer-social-links ul li a:hover img {
                opacity: 1; }
            footer .footer-links .footer-social-links ul li a:focus {
              color: #C2E8D5; }

.three-column-information-container {
  padding: 70px 0 76px 0;
  display: flex; }
  .three-column-information-container .column-information-item {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 0%;
    width: auto; }
    .three-column-information-container .column-information-item span {
      font-family: "Campton Semi Bold";
      color: #505050;
      font-size: 22px;
      line-height: 27px;
      display: block;
      margin-bottom: 8px; }
    .three-column-information-container .column-information-item p {
      line-height: 19px;
      padding: 0 5px;
      margin: 0; }
    .three-column-information-container .column-information-item .img-container {
      margin-bottom: 27px; }

.jarallax-container {
  position: relative;
  margin: 0;
  padding: 80px 0 120px 0; }
  .jarallax-container .jarallax {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0; }
    @media (max-width: 767px) {
      .jarallax-container .jarallax {
        position: relative;
        height: auto; } }

.download-container {
  margin-top: 50px; }
  .download-container a {
    display: inline-block;
    margin-right: 5.5px; }
    .download-container a:last-child {
      margin-right: 0; }
    .download-container a:hover:before {
      opacity: 0.8; }
    .download-container a:before {
      content: "";
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      height: 48px; }
    .download-container a.ios-icon:before {
      width: 148px;
      background: url("/assets/images/icons/content-ios.svg"); }
    .download-container a.android-icon:before {
      width: 163px;
      background: url("/assets/images/icons/content-android.svg"); }

.img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; }

.content-img-container {
  margin-top: 38px; }
  .content-img-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; }

.feature-item-container {
  padding-bottom: 155px;
  margin-top: 55px; }
  .feature-item-container hr {
    margin: 35px 0 44px 0;
    border-color: #E4EBE6; }
  .feature-item-container .feature-item {
    display: inline-block;
    width: calc(100% / 3 - 10px);
    margin-right: 10px; }
    .feature-item-container .feature-item:nth-child(4n + 3) {
      margin-right: 0; }
    @media (max-width: 767px) {
      .feature-item-container .feature-item {
        width: 100%; } }
    @media (max-width: 767px) and (orientation: landscape) {
      .feature-item-container .feature-item {
        width: calc(100% / 2 - 10px); } }
    .feature-item-container .feature-item .img-container {
      width: 60px;
      margin-right: 15px;
      display: inline-block;
      vertical-align: top; }
    .feature-item-container .feature-item .feature-item-content {
      display: inline-block;
      vertical-align: top;
      width: calc(100% - 82px); }
      .feature-item-container .feature-item .feature-item-content .subtitle {
        margin: -4px 0 8px 0; }
      .feature-item-container .feature-item .feature-item-content p {
        font-size: 14px;
        line-height: 20px;
        margin: 0; }

.testimonial-container {
  text-align: center;
  padding: 70px 0 80px 0; }
  .testimonial-container p {
    font-family: "Campton Light";
    font-size: 40px;
    line-height: 48px;
    color: #505050;
    margin-bottom: 10px; }
  .testimonial-container .star-container {
    width: 313px;
    height: 36px;
    position: relative;
    margin: 0 auto; }
    .testimonial-container .star-container:after {
      content: "";
      width: 313px;
      height: 36px;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      background-image: url("/assets/images/icons/five-star.svg"); }
    .testimonial-container .star-container.four-star:after {
      background-image: url("/assets/images/icons/four-star.svg"); }
    .testimonial-container .star-container.three-star:after {
      background-image: url("/assets/images/icons/three-star.svg"); }
    .testimonial-container .star-container.two-star:after {
      background-image: url("/assets/images/icons/two-star.svg"); }
    .testimonial-container .star-container.one-star:after {
      background-image: url("/assets/images/icons/one-star.svg"); }
  .testimonial-container img {
    margin-bottom: 6px;
    max-width: 100%;
    max-height: 100%; }

.home-notifications-container {
  background: linear-gradient(#0b9b52 0%, #12aa5d 100%);
  padding: 80px 0 88px 0; }
  .home-notifications-container hr {
    border-color: rgba(255, 255, 255, 0.3);
    margin: 44px 0 60px 0; }
  .home-notifications-container p {
    color: #C2E8D5;
    margin-bottom: 25px; }
  .home-notifications-container h2 {
    color: #ffffff; }
  .home-notifications-container h5 {
    color: #FBC234; }
  .home-notifications-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; }

.notification-item h3 {
  color: #ffffff; }
.notification-item h5 {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 3px; }
.notification-item .img-container {
  display: inline-block;
  width: 96px;
  vertical-align: top;
  margin-right: 20px; }
.notification-item .notification-item-intro-content {
  display: inline-block;
  width: calc(100% - 123px);
  vertical-align: top; }
.notification-item .notification-item-intro {
  margin-bottom: 30px; }

/*# sourceMappingURL=main.css.map */
